In [1]:
import pandas as pd

In [23]:
df=pd.read_csv("data/kohli.csv") # Import data

In [24]:
df.dtypes

Unnamed: 0     int64
Runs          object
Mins          object
BF            object
4s            object
6s            object
SR            object
Pos           object
Dismissal     object
Inns           int64
Opposition    object
Ground        object
Start Date    object
dtype: object

In [37]:
def clean_batsman(file):
    fe=f"data/{file}.csv"
    df=pd.read_csv(fe)
    df.drop(labels="Unnamed: 0",axis=1,inplace=True) #Remove the Unnamed column
    a=[]
    # Remove entries with DNB,TDNB and absent
    for i in range(0,len(df)):
        if( df["4s"][i] =='-'):
            df["4s"][i] = 0
        if( df["6s"][i] =='-'):
            df["6s"][i] = 0
        if(df.Runs[i]=="DNB" or df.Runs[i]=="TDNB" or df.Runs[i]=="absent"):
            a.append(i)
    df.drop(a,inplace=True)
    df.reset_index(drop=True, inplace=True)
    df["Runs"] = df["Runs"].str.replace(r'*', '').astype(int)
    # Replace '*' with space, to convert the column to numbers
    df["SR"] = df["SR"].str.replace('-', '0').astype(float)
    df["BF"] = df["BF"].str.replace('-', '0').astype(float)
    return(df)

In [38]:
data=clean_batsman("kohli")

C:\Users\Naman\AppData\Local\Temp/ipykernel_13800/1152527776.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["4s"][i] = 0
C:\Users\Naman\AppData\Local\Temp/ipykernel_13800/1152527776.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["6s"][i] = 0
C:\Users\Naman\AppData\Local\Temp/ipykernel_13800/1152527776.py:16: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df["Runs"] = df["Runs"].str.replace(r'*', '').astype(int)

In [39]:
def dict_ground(df):
    li=list(set(df["Ground"]))
    dict_gnd={}
    for x in li:
        ru=0
        s4=0
        s6=0
        for i in range(0, len(df)):
            if(df["Ground"][i]==x):
                ru=ru+int(df["Runs"][i])
                s4=s4+int(df["4s"][i])
                s6=s6+int(df["6s"][i])
        val=[ru,s4,s6]
        dict_gnd[x]=val
    print(dict_gnd)

In [40]:
dict_ground(data)

{'Rajkot': [29, 2, 1], 'Pallekele': [68, 11, 1], 'Chennai': [70, 10, 1], 'Pune': [21, 2, 0], 'Mumbai': [38, 7, 0], 'Kolkata': [15, 3, 0], 'Birmingham': [66, 9, 1], 'Port of Spain': [14, 2, 0], 'Durban': [28, 5, 0], 'Manchester': [4, 0, 0], 'Dhaka': [319, 24, 10], 'Harare': [26, 3, 1], 'Ahmedabad': [27, 3, 0], 'Bangalore': [9, 1, 0], 'Colombo (RPS)': [185, 20, 4], 'Dharamsala': [43, 1, 3], 'Sydney': [22, 0, 1], 'Melbourne': [31, 3, 0], 'Cuttack': [1, 0, 0]}

In [41]:
def dict_opposition(df):
    li=list(set(df["Opposition"]))
    dict_opp={}
    for x in li:
        ru=0
        s4=0
        s6=0
        for i in range(0, len(df)):
            if(df["Opposition"][i]==x):
                ru=ru+int(df["Runs"][i])
                s4=s4+int(df["4s"][i])
                s6=s6+int(df["6s"][i])
        val=[ru,s4,s6]
        dict_opp[x[2:]]=val
    print(dict_opp)

In [42]:
dict_opposition(data)

{'Zimbabwe': [26, 3, 1], 'New Zealand': [70, 10, 1], 'England': [184, 27, 1], 'Bangladesh': [57, 3, 1], 'South Africa': [146, 11, 5], 'Australia': [120, 9, 3], 'Afghanistan': [50, 4, 2], 'Sri Lanka': [145, 16, 5], 'West Indies': [68, 7, 1], 'Pakistan': [150, 16, 3]}

In [43]:
batsman={'devilliers',
 'ganguly',
 'gayle',
 'kohli',
 'kohli1',
 'maxwell',
 'sehwag',
 'sehwag1',
 'sehwag2',
 'tendulkar',
 'tendulkar1',
 'tendulkar2',
 'tendulkarsp'}

bowlers={'ashwin',
 'ashwin1',
 'badree',
 'kumble',
'mitchell',
 'kumble1',
 'kumblesp',
 'malinga',
 'malinga1','mendis','murali',
 'narine','southee',
 'steyn','warne'}

pd.set_option('display.max_rows',1000)

In [44]:
def ground_details(l,df):
        ru=0
        s4=0
        s6=0
        cnt=0
        sr=0
        bf=0
        for i in range(0, len(df)):
            if(df["Ground"][i]==l):
                ru=ru+int(df["Runs"][i])
                s4=s4+int(df["4s"][i])
                s6=s6+int(df["6s"][i])
                cnt=cnt+1
                sr=sr+int(df["SR"][i])
                bf=bf+int(df["BF"][i])
        return(ru,s4,s6,cnt,round(sr/cnt,2),bf)

In [49]:
def prep_dataset_ground(batsman):
    ndf=pd.DataFrame(columns=["Batsman","Ground","Runs","4s","6s","No. of Matches Played","Average Strike Rate","Balls Faced"])
    
    for bat in batsman:
        #print(str(x))
        df=clean_batsman(str(bat))
        li=list(set(df["Ground"]))
        for gnd in li:
            ru,s_4,s_6,nmf,avg_sr,bf=ground_details(gnd,df)
            add={"Batsman":bat.capitalize(),"Ground":gnd,"Runs":ru,"4s":s_4,"6s":s_6,"No. of Matches Played":nmf,"Average Strike Rate":avg_sr,"Balls Faced":bf}
            ndf=ndf.append(add,ignore_index=True)
    return(ndf)

In [50]:
batsman_ground=prep_dataset_ground(batsman)

C:\Users\Naman\AppData\Local\Temp/ipykernel_13800/1152527776.py:16: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df["Runs"] = df["Runs"].str.replace(r'*', '').astype(int)
C:\Users\Naman\AppData\Local\Temp/ipykernel_13800/1152527776.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["4s"][i] = 0
C:\Users\Naman\AppData\Local\Temp/ipykernel_13800/1152527776.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["6s"][i] = 0

In [51]:
batsman_ground

,Batsman,Ground,Runs,4s,6s,No. of Matches Played,Average Strike Rate,Balls Faced
0,Devilliers,The Oval,40,4,0,3,47.33,63
1,Devilliers,Kimberley,124,12,3,2,126.50,98
2,Devilliers,Leeds,24,3,0,1,68.00,35
3,Devilliers,Lahore,155,15,3,3,85.33,167
4,Devilliers,Abu Dhabi,144,11,0,4,80.75,176
...,...,...,...,...,...,...,...,...
562,Kohli,Colombo (RPS),185,20,4,5,105.60,151
563,Kohli,Dharamsala,43,1,3,1,159.00,27
564,Kohli,Sydney,22,0,1,1,104.00,21
565,Kohli,Melbourne,31,3,0,1,129.00,24
566,Kohli,Cuttack,1,0,0,1,100.00,1

In [53]:
batsman_ground.to_csv('Batsman_Ground.csv')

In [57]:
def opposition_details(l,df):
        ru=0
        s4=0
        s6=0
        cnt=0
        sr=0
        bf=0
        for i in range(0, len(df)):
            if(df["Opposition"][i]==l):
                ru=ru+int(df["Runs"][i])
                s4=s4+int(df["4s"][i])
                s6=s6+int(df["6s"][i])
                cnt=cnt+1
                sr=sr+float(df["SR"][i])
                bf=bf+int(df["BF"][i])
        return(ru,s4,s6,cnt,round(sr/cnt,2),bf)

In [58]:
def prep_dataset_opposition(batsman):
    ndf=pd.DataFrame(columns=["Batsman","Opposition","Runs","4s","6s","No. of Matches Played","Average Strike Rate","Balls Faced"])
    
    for bat in batsman:
        #print(str(x))
        df=clean_batsman(str(bat))
        li=list(set(df["Opposition"]))
        for gnd in li:
            ru,s_4,s_6,nmf,avg_sr,bf=opposition_details(gnd,df)
            add={"Batsman":bat.capitalize(),"Opposition":gnd,"Runs":ru,"4s":s_4,"6s":s_6,"No. of Matches Played":nmf,"Average Strike Rate":avg_sr,"Balls Faced":bf}
            ndf=ndf.append(add,ignore_index=True)
    return(ndf)

In [59]:
prep_dataset_opposition(batsman)

C:\Users\Naman\AppData\Local\Temp/ipykernel_13800/1152527776.py:16: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df["Runs"] = df["Runs"].str.replace(r'*', '').astype(int)
C:\Users\Naman\AppData\Local\Temp/ipykernel_13800/1152527776.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["4s"][i] = 0
C:\Users\Naman\AppData\Local\Temp/ipykernel_13800/1152527776.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["6s"][i] = 0

,Batsman,Opposition,Runs,4s,6s,No. of Matches Played,Average Strike Rate,Balls Faced
0,Devilliers,v India,921,92,19,23,92.48,884
1,Devilliers,v Zimbabwe,527,34,20,13,90.75,505
2,Devilliers,v New Zealand,634,64,8,18,86.78,677
3,Devilliers,v Kenya,39,5,0,2,95.98,39
4,Devilliers,v England,520,55,1,19,65.22,649
...,...,...,...,...,...,...,...,...
128,Kohli,v Australia,120,9,3,5,117.13,102
129,Kohli,v Afghanistan,50,4,2,1,128.20,39
130,Kohli,v Sri Lanka,145,16,5,2,137.20,106
131,Kohli,v West Indies,68,7,1,2,124.18,53
132,Kohli,v Pakistan,150,16,3,4,111.22,126

In [60]:
batsman_opposition=prep_dataset_opposition(batsman)

C:\Users\Naman\AppData\Local\Temp/ipykernel_13800/1152527776.py:16: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df["Runs"] = df["Runs"].str.replace(r'*', '').astype(int)
C:\Users\Naman\AppData\Local\Temp/ipykernel_13800/1152527776.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["4s"][i] = 0
C:\Users\Naman\AppData\Local\Temp/ipykernel_13800/1152527776.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["6s"][i] = 0

In [61]:
batsman_opposition.to_csv('Batsman_Opposition.csv')