In [2]:
import pandas as pd

In [3]:
df=pd.read_csv("data/kohli.csv") # Import data

In [5]:
df.dropna(inplace=True) #Drop NA values

In [11]:
# def clean_batsman(file):
#     fe=f"data/{file}.csv"
#     df=pd.read_csv(fe)
#     df.drop(labels="Unnamed: 0",axis=1,inplace=True) #Remove the Unnamed column
#     a=[]
#     # Remove entries with DNB,TDNB and absent
#     for i in range(1,len(df)):
#         if(df.Runs[i]=="DNB" or df.Runs[i]=="TDNB" or df.Runs[i]=="absent"):
#             a.append(i)
#     df.drop(a,inplace=True)
#     df.reset_index(drop=True, inplace=True)
#     df["Runs"] = df["Runs"].str.replace(r'*', '')
#     # Replace '*' with space, to convert the column to numbers

In [6]:
df["Runs"].astype(str)

0     26*
1     DNB
2      28
3      14
4       4
5      15
6      22
7      31
8     DNB
9      68
10     70
11     50
12     40
13     15
14    78*
15      2
16     21
17     38
18      9
19     27
20     29
21    36*
22     54
23    57*
24     23
25    72*
26     77
27     66
28     43
29      1
Name: Runs, dtype: object

# Clean the BATSMAN file

- Remove the Unnamed column
- Remove entries with DNB,TDNB and absent
- Reseting Inex: Making Index values continuos
- Replace '*' with space, to convert the column to numbers

In [6]:
df.drop(labels="Unnamed: 0",axis=1,inplace=True) #Remove the Unnamed column

In [8]:
df.head(5)

,Runs,Mins,BF,4s,6s,SR,Pos,Dismissal,Inns,Opposition,Ground,Start Date
0,26*,30,21,3,1,123.80,5,not out,2,v Zimbabwe,Harare,12 Jun 2010
1,DNB,-,-,-,-,-,-,-,2,v Zimbabwe,Harare,13 Jun 2010
2,28,28,19,5,0,147.36,1,bowled,1,v South Africa,Durban,9 Jan 2011
3,14,15,12,2,0,116.66,3,caught,1,v West Indies,Port of Spain,4 Jun 2011
4,4,5,5,0,0,80.00,4,caught,1,v England,Manchester,31 Aug 2011

In [9]:
a=[]
# Remove entries with DNB,TDNB and absent
for i in range(1,len(df)):
    if(df.Runs[i]=="DNB" or df.Runs[i]=="TDNB" or df.Runs[i]=="absent"):
        a.append(i)

In [10]:
a

[1, 8]

In [11]:
# Reseting Inex: Making Index values continuos
df.drop(a,inplace=True)
df.reset_index(drop=True, inplace=True)

In [12]:
df.head(5)

,Runs,Mins,BF,4s,6s,SR,Pos,Dismissal,Inns,Opposition,Ground,Start Date
0,26*,30,21,3,1,123.80,5,not out,2,v Zimbabwe,Harare,12 Jun 2010
1,28,28,19,5,0,147.36,1,bowled,1,v South Africa,Durban,9 Jan 2011
2,14,15,12,2,0,116.66,3,caught,1,v West Indies,Port of Spain,4 Jun 2011
3,4,5,5,0,0,80.00,4,caught,1,v England,Manchester,31 Aug 2011
4,15,21,16,3,0,93.75,3,caught,1,v England,Kolkata,29 Oct 2011

In [13]:
df["Runs"] = df["Runs"].str.replace(r'*', '')
# Replace '*' with space, to convert the column to numbers

C:\Users\Naman\AppData\Local\Temp/ipykernel_12668/2662040899.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df["Runs"] = df["Runs"].str.replace(r'*', '')

In [14]:
df.head(5)

,Runs,Mins,BF,4s,6s,SR,Pos,Dismissal,Inns,Opposition,Ground,Start Date
0,26,30,21,3,1,123.80,5,not out,2,v Zimbabwe,Harare,12 Jun 2010
1,28,28,19,5,0,147.36,1,bowled,1,v South Africa,Durban,9 Jan 2011
2,14,15,12,2,0,116.66,3,caught,1,v West Indies,Port of Spain,4 Jun 2011
3,4,5,5,0,0,80.00,4,caught,1,v England,Manchester,31 Aug 2011
4,15,21,16,3,0,93.75,3,caught,1,v England,Kolkata,29 Oct 2011

# Clean BATSMAN Function

In [7]:
def clean_batsman(file):
    fe=f"data/{file}.csv"
    df=pd.read_csv(fe)
    df.drop(labels="Unnamed: 0",axis=1,inplace=True) #Remove the Unnamed column
    a=[]
    # Remove entries with DNB,TDNB and absent
    for i in range(0,len(df)):
        if( df["4s"][i] =='-'):
            df["4s"][i] = 0
        if( df["6s"][i] =='-'):
            df["6s"][i] = 0
        if(df.Runs[i]=="DNB" or df.Runs[i]=="TDNB" or df.Runs[i]=="absent"):
            a.append(i)
    df.drop(a,inplace=True)
    df.reset_index(drop=True, inplace=True)
    df["Runs"] = df["Runs"].str.replace(r'*', '')
    # Replace '*' with space, to convert the column to numbers
    return(df)

In [13]:
df=clean_batsman("kohli1")

C:\Users\Naman\AppData\Local\Temp/ipykernel_9348/1019180788.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["4s"][i] = 0
C:\Users\Naman\AppData\Local\Temp/ipykernel_9348/1019180788.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["6s"][i] = 0
C:\Users\Naman\AppData\Local\Temp/ipykernel_9348/1019180788.py:16: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df["Runs"] = df["Runs"].str.replace(r'*', '')

In [14]:
df

,Runs,Mins,BF,4s,6s,SR,Pos,Dismissal,Inns,Opposition,Ground,Start Date
0,26,30,21,3,1,123.80,5,not out,2,v Zimbabwe,Harare,12 Jun 2010
1,28,28,19,5,0,147.36,1,bowled,1,v South Africa,Durban,9 Jan 2011
2,14,15,12,2,0,116.66,3,caught,1,v West Indies,Port of Spain,4 Jun 2011
3,4,5,5,0,0,80.00,4,caught,1,v England,Manchester,31 Aug 2011
4,15,21,16,3,0,93.75,3,caught,1,v England,Kolkata,29 Oct 2011
5,22,30,21,0,1,104.76,3,caught,2,v Australia,Sydney,1 Feb 2012
6,31,29,24,3,0,129.16,3,caught,2,v Australia,Melbourne,3 Feb 2012
7,68,65,48,11,1,141.66,3,caught,1,v Sri Lanka,Pallekele,7 Aug 2012
8,70,67,41,10,1,170.73,2,caught,2,v New Zealand,Chennai,11 Sep 2012
9,50,60,39,4,2,128.20,3,caught,1,v Afghanistan,Colombo (RPS),19 Sep 2012
10,40,33,32,6,0,125.00,3,caught,1,v England,Colombo (RPS),23 Sep 2012
11,15,18,13,2,0,115.38,3,caught,1,v Australia,Colombo (RPS),28 Sep 2012
12,78,61,61,8,2,127.86,3,not out,2,v Pakistan,Colombo (RPS),30 Sep 2012
13,2,5,6,0,0,33.33,3,caught,1,v South Africa,Colombo (RPS),2 Oct 2012
14,21,35,17,2,0,123.52,3,bowled,2,v England,Pune,20 Dec 2012
15,38,25,20,7,0,190.00,3,lbw,1,v England,Mumbai,22 Dec 2012
16,9,15,11,1,0,81.81,3,caught,1,v Pakistan,Bangalore,25 Dec 2012
17,27,31,22,3,0,122.72,3,run out,1,v Pakistan,Ahmedabad,28 Dec 2012
18,29,26,22,2,1,131.81,4,caught,2,v Australia,Rajkot,10 Oct 2013
19,36,45,32,4,1,112.50,3,not out,2,v Pakistan,Dhaka,21 Mar 2014
20,54,51,41,5,1,131.70,3,bowled,2,v West Indies,Dhaka,23 Mar 2014
21,57,66,50,3,1,114.00,3,not out,2,v Bangladesh,Dhaka,28 Mar 2014
22,23,23,22,2,1,104.54,3,caught,1,v Australia,Dhaka,30 Mar 2014
23,72,67,44,5,2,163.63,3,not out,2,v South Africa,Dhaka,4 Apr 2014
24,77,75,58,5,4,132.75,3,run out,1,v Sri Lanka,Dhaka,6 Apr 2014
25,66,54,41,9,1,160.97,3,caught,2,v England,Birmingham,7 Sep 2014
26,43,58,27,1,3,159.25,3,caught,1,v South Africa,Dharamsala,2 Oct 2015
27,1,3,1,0,0,100.00,3,run out,1,v South Africa,Cuttack,5 Oct 2015
28,90,71,55,9,2,163.63,3,not out,1,v Australia,Adelaide,26 Jan 2016
29,59,44,33,7,1,178.78,3,not out,1,v Australia,Melbourne,29 Jan 2016
30,50,49,36,2,1,138.88,3,bowled,2,v Australia,Sydney,31 Jan 2016
31,7,13,12,1,0,58.33,3,caught,1,v Bangladesh,Dhaka,24 Feb 2016
32,49,71,51,7,0,96.07,3,lbw,2,v Pakistan,Dhaka,27 Feb 2016
33,56,85,47,7,0,119.14,3,not out,2,v Sri Lanka,Dhaka,1 Mar 2016
34,41,62,28,5,0,146.42,3,not out,2,v Bangladesh,Dhaka,6 Mar 2016
35,23,-,27,2,0,85.18,3,caught,2,v New Zealand,Nagpur,15 Mar 2016
36,55,66,37,7,1,148.64,3,not out,2,v Pakistan,Kolkata,19 Mar 2016
37,24,37,24,0,1,100.00,3,bowled,1,v Bangladesh,Bangalore,23 Mar 2016
38,82,78,51,9,2,160.78,3,not out,2,v Australia,Mohali,27 Mar 2016
39,89,63,47,11,1,189.36,3,not out,1,v West Indies,Mumbai,31 Mar 2016

In [8]:
print(clean_batsman("kohli1"))

   Runs Mins  BF  4s 6s      SR Pos Dismissal  Inns      Opposition  \
0    26   30  21   3  1  123.80   5   not out     2      v Zimbabwe
1    28   28  19   5  0  147.36   1    bowled     1  v South Africa
2    14   15  12   2  0  116.66   3    caught     1   v West Indies
3     4    5   5   0  0   80.00   4    caught     1       v England
4    15   21  16   3  0   93.75   3    caught     1       v England
5    22   30  21   0  1  104.76   3    caught     2     v Australia
6    31   29  24   3  0  129.16   3    caught     2     v Australia
7    68   65  48  11  1  141.66   3    caught     1     v Sri Lanka
8    70   67  41  10  1  170.73   2    caught     2   v New Zealand
9    50   60  39   4  2  128.20   3    caught     1   v Afghanistan
10   40   33  32   6  0  125.00   3    caught     1       v England
11   15   18  13   2  0  115.38   3    caught     1     v Australia
12   78   61  61   8  2  127.86   3   not out     2      v Pakistan
13    2    5   6   0  0   33.33   3    caught     1  v South Africa
14   21   35  17   2  0  123.52   3    bowled     2       v England
15   38   25  20   7  0  190.00   3       lbw     1       v England
16    9   15  11   1  0   81.81   3    caught     1      v Pakistan
17   27   31  22   3  0  122.72   3   run out     1      v Pakistan
18   29   26  22   2  1  131.81   4    caught     2     v Australia
19   36   45  32   4  1  112.50   3   not out     2      v Pakistan
20   54   51  41   5  1  131.70   3    bowled     2   v West Indies
21   57   66  50   3  1  114.00   3   not out     2    v Bangladesh
22   23   23  22   2  1  104.54   3    caught     1     v Australia
23   72   67  44   5  2  163.63   3   not out     2  v South Africa
24   77   75  58   5  4  132.75   3   run out     1     v Sri Lanka
25   66   54  41   9  1  160.97   3    caught     2       v England
26   43   58  27   1  3  159.25   3    caught     1  v South Africa
27    1    3   1   0  0  100.00   3   run out     1  v South Africa
28   90   71  55   9  2  163.63   3   not out     1     v Australia
29   59   44  33   7  1  178.78   3   not out     1     v Australia
30   50   49  36   2  1  138.88   3    bowled     2     v Australia
31    7   13  12   1  0   58.33   3    caught     1    v Bangladesh
32   49   71  51   7  0   96.07   3       lbw     2      v Pakistan
33   56   85  47   7  0  119.14   3   not out     2     v Sri Lanka
34   41   62  28   5  0  146.42   3   not out     2    v Bangladesh
35   23    -  27   2  0   85.18   3    caught     2   v New Zealand
36   55   66  37   7  1  148.64   3   not out     2      v Pakistan
37   24   37  24   0  1  100.00   3    bowled     1    v Bangladesh
38   82   78  51   9  2  160.78   3   not out     2     v Australia
39   89   63  47  11  1  189.36   3   not out     1   v West Indies

           Ground   Start Date
0          Harare  12 Jun 2010
1          Durban   9 Jan 2011
2   Port of Spain   4 Jun 2011
3      Manchester  31 Aug 2011
4         Kolkata  29 Oct 2011
5          Sydney   1 Feb 2012
6       Melbourne   3 Feb 2012
7       Pallekele   7 Aug 2012
8         Chennai  11 Sep 2012
9   Colombo (RPS)  19 Sep 2012
10  Colombo (RPS)  23 Sep 2012
11  Colombo (RPS)  28 Sep 2012
12  Colombo (RPS)  30 Sep 2012
13  Colombo (RPS)   2 Oct 2012
14           Pune  20 Dec 2012
15         Mumbai  22 Dec 2012
16      Bangalore  25 Dec 2012
17      Ahmedabad  28 Dec 2012
18         Rajkot  10 Oct 2013
19          Dhaka  21 Mar 2014
20          Dhaka  23 Mar 2014
21          Dhaka  28 Mar 2014
22          Dhaka  30 Mar 2014
23          Dhaka   4 Apr 2014
24          Dhaka   6 Apr 2014
25     Birmingham   7 Sep 2014
26     Dharamsala   2 Oct 2015
27        Cuttack   5 Oct 2015
28       Adelaide  26 Jan 2016
29      Melbourne  29 Jan 2016
30         Sydney  31 Jan 2016
31          Dhaka  24 Feb 2016
32          Dhaka  27 Feb 2016
33          Dhaka   1 Mar 2016
34          Dhaka   6 Mar 2016
35         Nagpur  15 Mar 2016
36        Kolkata  19 Mar 2016
37      Bangalore  23 Mar 2016
38         Mohali  27 Mar 2016
39         Mumbai  31 Mar 2016

C:\Users\Naman\AppData\Local\Temp/ipykernel_9348/1019180788.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["4s"][i] = 0
C:\Users\Naman\AppData\Local\Temp/ipykernel_9348/1019180788.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["6s"][i] = 0
C:\Users\Naman\AppData\Local\Temp/ipykernel_9348/1019180788.py:16: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df["Runs"] = df["Runs"].str.replace(r'*', '')

# Number of 4s, 6s
- Count the number of 4s, 6s against any oponent
- Count 4s, 6s in any ground

In [15]:
print(df["4s"].astype(int).sum())
print(df["6s"].astype(int).sum())

106
23

In [17]:
# Number of 4s and 6s filtered via opponent
o=input(str("Enter opposition: "))

opp="v "+o
s4=0
s6=0
f=0
for i in range(0, len(df)):
    if(df["Opposition"][i]==opp):
        f=1
        s4=s4+int(df["4s"][i])
        s6=s6+int(df["6s"][i])

if(f!=0):
    print(s4,s6)
else:
    print(f"No Opposition named '{o}' found.")

Enter opposition: Bangladesh
9 2

In [18]:
# Number of 4s and 6s filtered via ground
gnd=input(str("Enter name of Ground: "))

s4=0
s6=0
f=0
for i in range(0, len(df)):
    if(df["Ground"][i]==gnd):
        f=1
        s4=s4+int(df["4s"][i])
        s6=s6+int(df["6s"][i])

if(f!=0):
    print(s4,s6)
else:
    print(f"No Ground named '{gnd}' found.")

Enter name of Ground: Kolkata
10 1

## Average runs w.r.t. Ground

In [18]:
gnd=input(str("Enter name of Ground: "))

ru=0
sr=0
n=0
for i in range(0, len(df)):
    if(df["Ground"][i]==gnd):
        f=1
        ru=ru+int(df["Runs"][i])
        sr=sr+float(df["SR"][i])
        n=n+1

if(f!=0):
    print(f"Runs scored at {gnd}= {ru}")
    if(n!=0):
        print(f"Number of matches played at {gnd}= {n}")
        print(f"Average Runs scored at {gnd}= {int(ru/n)}")
        print(f"Strike Rate of the player = {round(sr/n,2)}")
else:
    print(f"No Ground named '{gnd}' found.")

Enter name of Ground:
No Ground named '' found.

In [10]:
o=input(str("Enter opposition: "))
f=0
opp="v "+o
ru=0
n=0
sr=0
for i in range(0, len(df)):
    if(df["Opposition"][i]==opp):
        f=1
        ru=ru+int(df["Runs"][i])
        sr=sr+float(df["SR"][i])
        n=n+1

if(f!=0):
    print(f"Runs scored against {o}= {ru}")
    print(f"Average Runs scored against {o}= {int(ru/n)}")
    print(f"Strike Rate of the player = {round(sr/n,2)}")
else:
    print(f"No Opposition named '{o}' found.")

Enter opposition: Kolkata
No Opposition named 'Kolkata' found.

## Player's Total Stats

In [76]:
ru=0
dis=0
sr=0
for i in range(0, len(df)):
    ru=ru+int(df["Runs"][i])
    sr=sr+float(df["SR"][i])
    if(df["Dismissal"][i]!="not out"):
        dis=dis+1
print(f"Total Runs scored by the player = {ru}")
print(f"Total Average of the player = {int(ru/len(df))}")
print(f"Number of matches played = {len(df)}")
print(f"Total Strike Rate of the player = {round(sr/len(df),2)}")
print(f"Number of times dismissed= {dis}")

Total Runs scored by the player = 1016
Total Average of the player = 36
Number of matches played = 28
Total Strike Rate of the player = 123.82
Number of times dismissed= 23

In [19]:
df=clean_batsman("kohli")
def dict_ground():
    li=list(set(df["Ground"]))
    dict_gnd={}
    for x in li:
        ru=0
        s4=0
        s6=0
        for i in range(0, len(df)):
            if(df["Ground"][i]==x):
                ru=ru+int(df["Runs"][i])
                s4=s4+int(df["4s"][i])
                s6=s6+int(df["6s"][i])
        val=[ru,s4,s6]
        dict_gnd[x]=val
    print(dict_gnd)

C:\Users\Naman\AppData\Local\Temp/ipykernel_9348/1019180788.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["4s"][i] = 0
C:\Users\Naman\AppData\Local\Temp/ipykernel_9348/1019180788.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["6s"][i] = 0
C:\Users\Naman\AppData\Local\Temp/ipykernel_9348/1019180788.py:16: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df["Runs"] = df["Runs"].str.replace(r'*', '')

In [20]:
dict_ground()

{'Kolkata': [15, 3, 0], 'Dhaka': [319, 24, 10], 'Cuttack': [1, 0, 0], 'Mumbai': [38, 7, 0], 'Melbourne': [31, 3, 0], 'Dharamsala': [43, 1, 3], 'Chennai': [70, 10, 1], 'Bangalore': [9, 1, 0], 'Pallekele': [68, 11, 1], 'Rajkot': [29, 2, 1], 'Pune': [21, 2, 0], 'Manchester': [4, 0, 0], 'Harare': [26, 3, 1], 'Port of Spain': [14, 2, 0], 'Ahmedabad': [27, 3, 0], 'Birmingham': [66, 9, 1], 'Colombo (RPS)': [185, 20, 4], 'Sydney': [22, 0, 1], 'Durban': [28, 5, 0]}

In [21]:
df=clean_batsman("sehwag")
def dict_opposition():
    li=list(set(df["Opposition"]))
    dict_opp={}
    for x in li:
        ru=0
        s4=0
        s6=0
        for i in range(0, len(df)):
            if(df["Opposition"][i]==x):
                ru=ru+int(df["Runs"][i])
                s4=s4+int(df["4s"][i])
                s6=s6+int(df["6s"][i])
        val=[ru,s4,s6]
        dict_opp[x[2:]]=val
    print(dict_opp)

C:\Users\Naman\AppData\Local\Temp/ipykernel_9348/1019180788.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["4s"][i] = 0
C:\Users\Naman\AppData\Local\Temp/ipykernel_9348/1019180788.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["6s"][i] = 0
C:\Users\Naman\AppData\Local\Temp/ipykernel_9348/1019180788.py:16: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df["Runs"] = df["Runs"].str.replace(r'*', '')

In [22]:
dict_opposition()

{'South Africa': [105, 13, 2], 'West Indies': [290, 34, 4], 'New Zealand': [544, 62, 15], 'England': [167, 24, 2], 'Pakistan': [404, 59, 9], 'Sri Lanka': [716, 98, 5], 'Bangladesh': [474, 59, 11], 'Australia': [199, 27, 2], 'Zimbabwe': [50, 8, 0]}

# Preparing dict of batsman with all data

In [46]:
batsman={'devilliers',
 'ganguly',
 'gayle',
 'kohli',
 'kohli1',
 'maxwell',
 'sehwag',
 'sehwag1',
 'sehwag2',
 'tendulkar',
 'tendulkar1',
 'tendulkar2',
 'tendulkarsp'}

bowlers={'ashwin',
 'ashwin1',
 'badree',
 'kumble',
'mitchell',
 'kumble1',
 'kumblesp',
 'malinga',
 'malinga1','mendis','murali',
 'narine','southee',
 'steyn','warne'}

In [24]:
pd.set_option('display.max_rows',1000)
x=clean_batsman("sehwag")
x

C:\Users\Naman\AppData\Local\Temp/ipykernel_9348/1019180788.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["4s"][i] = 0
C:\Users\Naman\AppData\Local\Temp/ipykernel_9348/1019180788.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["6s"][i] = 0
C:\Users\Naman\AppData\Local\Temp/ipykernel_9348/1019180788.py:16: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df["Runs"] = df["Runs"].str.replace(r'*', '')

,Runs,Mins,BF,4s,6s,SR,Pos,Dismissal,Inns,Opposition,Ground,Start Date
0,2,7,7,0,0,28.57,6,caught,2,v Zimbabwe,Bulawayo,27 Jun 2001
1,12,17,14,0,0,85.71,8,caught,2,v Sri Lanka,Colombo (RPS),22 Jul 2001
2,27,60,41,5,0,65.85,2,caught,2,v Sri Lanka,Colombo (RPS),28 Jul 2001
3,0,1,1,0,0,0.00,1,lbw,1,v Sri Lanka,Colombo (SSC),1 Aug 2001
4,4,8,4,1,0,100.00,2,run out,2,v Sri Lanka,Colombo (RPS),5 Aug 2001
5,5,9,5,0,0,100.00,5,caught,1,v South Africa,Johannesburg,5 Oct 2001
6,33,32,27,4,1,122.22,6,caught,1,v South Africa,Centurion,10 Oct 2001
7,4,8,5,0,0,80.00,6,caught,2,v South Africa,East London,19 Oct 2001
8,34,80,58,4,1,58.62,3,caught,1,v South Africa,Durban,26 Oct 2001
9,21,44,36,3,0,58.33,2,caught,2,v West Indies,Bridgetown,29 May 2002
10,0,2,1,0,0,0.00,2,caught,1,v West Indies,Port of Spain,1 Jun 2002
11,32,38,32,6,0,100.00,2,caught,1,v West Indies,Port of Spain,2 Jun 2002
12,71,85,65,9,1,109.23,2,caught,2,v England,Lord's,29 Jun 2002
13,46,42,41,8,1,112.19,1,caught,2,v England,The Oval,9 Jul 2002
14,45,77,49,7,0,91.83,1,bowled,2,v England,Lord's,13 Jul 2002
15,0,5,5,0,0,0.00,2,bowled,1,v New Zealand,Auckland,26 Dec 2002
16,108,160,119,9,2,90.75,2,run out,2,v New Zealand,Napier,29 Dec 2002
17,7,17,20,1,0,35.00,1,caught,1,v New Zealand,Christchurch,1 Jan 2003
18,23,45,39,4,0,58.97,1,caught,1,v New Zealand,Queenstown,4 Jan 2003
19,45,63,40,9,0,112.50,2,caught,2,v New Zealand,Wellington,8 Jan 2003
20,112,175,139,11,3,80.57,2,caught,2,v New Zealand,Auckland,11 Jan 2003
21,4,23,19,0,0,21.05,2,caught,1,v New Zealand,Hamilton,14 Jan 2003
22,36,78,38,6,0,94.73,1,caught,1,v Zimbabwe,Harare,19 Feb 2003
23,63,63,51,11,1,123.52,2,lbw,1,v Bangladesh,Dhaka,11 Apr 2003
24,43,51,44,8,0,97.72,1,caught,2,v Bangladesh,Dhaka,16 Apr 2003
25,35,85,59,3,0,59.32,1,bowled,2,v Australia,Melbourne,9 Jan 2004
26,32,51,34,6,0,94.11,1,caught,1,v Australia,Perth,1 Feb 2004
27,3,13,8,0,0,37.50,1,caught,1,v Australia,Melbourne,6 Feb 2004
28,12,13,7,1,1,171.42,1,caught,2,v Australia,Sydney,8 Feb 2004
29,79,85,57,14,1,138.59,1,bowled,1,v Pakistan,Karachi,13 Mar 2004
30,26,35,21,4,0,123.80,1,bowled,2,v Pakistan,Rawalpindi,16 Mar 2004
31,13,29,18,3,0,72.22,1,caught,1,v Pakistan,Peshawar,19 Mar 2004
32,26,53,29,5,0,89.65,1,caught,2,v Pakistan,Lahore,21 Mar 2004
33,20,26,22,4,0,90.90,1,caught,1,v Pakistan,Lahore,24 Mar 2004
34,37,50,39,5,0,94.87,3,run out,2,v Sri Lanka,Dambulla,18 Jul 2004
35,81,144,92,6,2,88.04,2,caught,1,v Sri Lanka,Colombo (RPS),27 Jul 2004
36,5,12,12,1,0,41.66,1,lbw,2,v Sri Lanka,Colombo (RPS),1 Aug 2004
37,4,11,12,0,0,33.33,1,caught,1,v England,Nottingham,1 Sep 2004
38,0,2,2,0,0,0.00,2,lbw,2,v England,The Oval,3 Sep 2004
39,1,1,2,0,0,50.00,4,caught,1,v England,Lord's,5 Sep 2004
40,0,3,3,0,0,0.00,1,bowled,2,v Bangladesh,Dhaka,26 Dec 2004
41,70,85,52,9,2,134.61,1,caught,1,v Bangladesh,Dhaka,27 Dec 2004
42,14,10,10,3,0,140.00,1,bowled,1,v Sri Lanka,Dambulla,30 Jul 2005
43,32,70,39,5,0,82.05,1,bowled,1,v Sri Lanka,Dambulla,3 Aug 2005
44,48,31,22,9,1,218.18,2,bowled,2,v Sri Lanka,Colombo (RPS),9 Aug 2005
45,12,11,13,2,0,92.30,1,bowled,2,v Zimbabwe,Harare,4 Sep 2005
46,6,22,10,0,0,60.00,2,caught,2,v Australia,Melbourne (Docklands),5 Oct 2005
47,21,17,15,4,0,140.00,2,caught,2,v Australia,Melbourne (Docklands),7 Oct 2005
48,37,89,40,4,1,92.50,2,run out,2,v Australia,Melbourne (Docklands),9 Oct 2005
49,5,5,6,1,0,83.33,1,caught,1,v Pakistan,Peshawar,6 Feb 2006
50,67,83,60,10,1,111.66,1,run out,2,v Pakistan,Rawalpindi,11 Feb 2006
51,22,51,32,3,0,68.75,1,run out,2,v West Indies,Kingston,18 May 2006
52,12,27,19,1,0,63.15,2,caught,2,v West Indies,Kingston,20 May 2006
53,97,-,83,9,3,116.86,1,lbw,1,v West Indies,Basseterre,23 May 2006
54,11,-,11,2,0,100.00,1,caught,1,v West Indies,Port of Spain,26 May 2006
55,95,-,103,10,1,92.23,2,caught,2,v West Indies,Port of Spain,28 May 2006
56,0,2,4,0,0,0.00,1,caught,2,v South Africa,Cape Town,26 Nov 2006
57,18,38,22,3,0,81.81,2,caught,2,v South Africa,Port Elizabeth,29 Nov 2006
58,11,27,22,2,0,50.00,1,caught,1,v South Africa,Centurion,3 Dec 2006
59,30,38,21,7,0,142.85,2,caught,2,v Bangladesh,Dhaka,10 May 2007
60,21,34,26,1,1,80.76,1,caught,1,v Bangladesh,Dhaka,12 May 2007
61,11,18,19,2,0,57.89,1,lbw,2,v Australia,Melbourne,10 Feb 2008
62,17,39,19,3,0,89.47,1,caught,2,v Australia,Sydney,24 Feb 2008
63,59,46,32,7,2,184.37,2,caught,2,v Bangladesh,Dhaka,12 Jun 2008
64,119,150,95,12,5,125.26,2,caught,2,v Pakistan,Karachi,26 Jun 2008
65,49,64,33,6,2,148.48,2,caught,1,v Pakistan,Karachi,2 Jul 2008
66,42,58,26,7,0,161.53,1,run out,1,v Sri Lanka,Colombo (RPS),31 Jan 2009
67,116,165,90,17,0,128.88,1,run out,1,v Sri Lanka,Colombo (RPS),3 Feb 2009
68,5,13,8,1,0,62.50,1,caught,1,v Sri Lanka,Colombo (RPS),5 Feb 2009
69,6,6,6,1,0,100.00,2,caught,2,v Sri Lanka,Colombo (RPS),8 Feb 2009
70,77,79,56,11,1,137.50,1,caught,1,v New Zealand,Napier,3 Mar 2009
71,3,15,6,0,0,50.00,1,bowled,1,v New Zealand,Christchurch,8 Mar 2009
72,125,106,74,14,6,168.91,2,not out,2,v New Zealand,Hamilton,11 Mar 2009
73,40,57,27,3,3,148.14,2,caught,1,v New Zealand,Auckland,14 Mar 2009
74,13,17,8,2,0,162.50,2,run out,2,v Bangladesh,Dhaka,7 Jan 2010
75,99,165,100,11,2,99.00,2,not out,2,v Sri Lanka,Dambulla,16 Aug 2010
76,12,-,12,2,0,100.00,2,lbw,1,v Sri Lanka,Dambulla,22 Aug 2010
77,28,30,22,6,0,127.27,1,run out,2,v Sri Lanka,Dambulla,28 Aug 2010
78,175,198,140,14,5,125.00,1,bowled,1,v Bangladesh,Dhaka,19 Feb 2011
79,20,38,21,3,0,95.23,2,caught,2,v Australia,Adelaide,12 Feb 2012
80,5,8,11,1,0,45.45,1,caught,2,v Australia,Sydney,26 Feb 2012
81,96,132,97,10,0,98.96,2,run out,1,v Sri Lanka,Hambantota,21 Jul 2012
82,15,21,15,2,0,100.00,2,caught,1,v Sri Lanka,Hambantota,24 Jul 2012
83,3,6,6,0,0,50.00,2,caught,2,v Sri Lanka,Colombo (RPS),28 Jul 2012
84,34,46,29,6,0,117.24,2,caught,2,v Sri Lanka,Colombo (RPS),31 Jul 2012

In [25]:
def dict_opposition_file(df):
    li=list(set(df["Opposition"]))
    dict_opp={}
    for x in li:
        ru=0
        s4=0
        s6=0
        for i in range(0, len(df)):
            if(df["Opposition"][i]==x):
                ru=ru+int(df["Runs"][i])
                s4=s4+int(df["4s"][i])
                s6=s6+int(df["6s"][i])
        val=[ru,s4,s6]
        dict_opp[x[2:]]=val
    return(dict_opp)

def dict_ground_file(df):
    li=list(set(df["Ground"]))
    dict_gnd={}
    for x in li:
        ru=0
        s4=0
        s6=0
        for i in range(0, len(df)):
            if(df["Ground"][i]==x):
                ru=ru+int(df["Runs"][i])
                s4=s4+int(df["4s"][i])
                s6=s6+int(df["6s"][i])
        val=[ru,s4,s6]
        dict_gnd[x]=val
    return(dict_gnd)

In [26]:
df=clean_batsman("kohli")
dict_ground_file(df)

C:\Users\Naman\AppData\Local\Temp/ipykernel_9348/1019180788.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["4s"][i] = 0
C:\Users\Naman\AppData\Local\Temp/ipykernel_9348/1019180788.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["6s"][i] = 0
C:\Users\Naman\AppData\Local\Temp/ipykernel_9348/1019180788.py:16: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df["Runs"] = df["Runs"].str.replace(r'*', '')

{'Kolkata': [15, 3, 0],
 'Dhaka': [319, 24, 10],
 'Cuttack': [1, 0, 0],
 'Mumbai': [38, 7, 0],
 'Melbourne': [31, 3, 0],
 'Dharamsala': [43, 1, 3],
 'Chennai': [70, 10, 1],
 'Bangalore': [9, 1, 0],
 'Pallekele': [68, 11, 1],
 'Rajkot': [29, 2, 1],
 'Pune': [21, 2, 0],
 'Manchester': [4, 0, 0],
 'Harare': [26, 3, 1],
 'Port of Spain': [14, 2, 0],
 'Ahmedabad': [27, 3, 0],
 'Birmingham': [66, 9, 1],
 'Colombo (RPS)': [185, 20, 4],
 'Sydney': [22, 0, 1],
 'Durban': [28, 5, 0]}

In [39]:
val1=dict_opposition_file(df)
print(val1.values())

dict_values([[146, 11, 5], [68, 7, 1], [70, 10, 1], [184, 27, 1], [150, 16, 3], [145, 16, 5], [57, 3, 1], [120, 9, 3], [50, 4, 2], [26, 3, 1]])

In [72]:
def ground_details(l,df):
        ru=0
        s4=0
        s6=0
        cnt=0
        sr=0
        bf=0
        for i in range(0, len(df)):
            if(df["Ground"][i]==l):
                ru=ru+int(df["Runs"][i])
                s4=s4+int(df["4s"][i])
                s6=s6+int(df["6s"][i])
                cnt=cnt+1
                sr=sr+float(df["SR"][i])
                bf=bf+int(df["BF"][i])
        return(ru,s4,s6,cnt,round(sr/cnt,2),bf)

In [73]:
x,y,z,a,b,c=ground_details(l="Kolkata",df=df)
print(x,y,z,a,b,c)

15 3 0 1 93.75 16

In [74]:
def prep_dataset_ground(batsman):
    ndf=pd.DataFrame(columns=["Batsman","Ground","Runs","4s","6s","No. of Matches Played","Average Strike Rate","Balls Faced"])
    
    for bat in batsman:
        #print(str(x))
        df=clean_batsman(str(bat))
        li=list(set(df["Ground"]))
        for gnd in li:
            ru,s_4,s_6,nmf,avg_sr,bf=ground_details(gnd,df)
            add={"Batsman":bat,"Ground":gnd,"Runs":ru,"4s":s_4,"6s":s_6,"No. of Matches Played":nmf,"Average Strike Rate":avg_sr,"Balls Faced":bf}
            ndf=ndf.append(add,ignore_index=True)
    return(ndf)

In [75]:
gnd_df=prep_dataset_ground(batsman)

C:\Users\Naman\AppData\Local\Temp/ipykernel_9348/1019180788.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["4s"][i] = 0
C:\Users\Naman\AppData\Local\Temp/ipykernel_9348/1019180788.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["6s"][i] = 0
C:\Users\Naman\AppData\Local\Temp/ipykernel_9348/1019180788.py:16: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df["Runs"] = df["Runs"].str.replace(r'*', '')

ValueError: could not convert string to float: '-'

In [59]:
gnd_df

         Batsman                 Ground Runs   4s  6s
0        ganguly                  Kandy  116   17   0
1        ganguly             Chittagong  201   23   2
2        ganguly               Brisbane  144   18   0
3        ganguly                Kolkata  440   57   1
4        ganguly                  Dhaka  170   19   0
5        ganguly             Georgetown    5    0   0
6        ganguly              St John's   45    4   1
7        ganguly                  Leeds  128   14   3
8        ganguly             Wellington   72   10   0
9        ganguly                 Mumbai  230   32   3
10       ganguly                 Lord's  210   30   0
11       ganguly                  Galle   35    2   0
12       ganguly               Hamilton  122   17   3
13       ganguly              Melbourne  241   27   1
14       ganguly                 Mohali  372   40   3
15       ganguly           Bloemfontein   44    8   0
16       ganguly                Chennai  153   17   2
17       ganguly             Bridgetown  138   15   1
18       ganguly               Kingston  106   16   0
19       ganguly          Colombo (SSC)  384   48   3
20       ganguly              Bangalore  503   59   3
21       ganguly                  Perth    9    2   0
22       ganguly             Nottingham  432   59   3
23       ganguly          Colombo (PSS)   53    5   2
24       ganguly                  Delhi  582   76   9
25       ganguly           Johannesburg  209   32   3
26       ganguly                 Harare  108   14   1
27       ganguly                 Kanpur  237   31   1
28       ganguly              Cape Town  165   21   1
29       ganguly          Port of Spain  106   10   0
30       ganguly               Adelaide  142   15   0
31       ganguly              Ahmedabad  411   42   7
32       ganguly         Port Elizabeth   46    7   0
33       ganguly                 Nagpur  252   30   2
34       ganguly             Rawalpindi   77   12   0
35       ganguly          Colombo (RPS)    0    0   0
36       ganguly               The Oval  145   21   1
37       ganguly               Bulawayo  106   11   0
38       ganguly                Karachi   71   12   0
39       ganguly                 Sydney  160   22   1
40       ganguly                 Durban   42    5   0
41    devilliers            North Sound  143    8   3
42    devilliers                  Dhaka  144   13   1
43    devilliers                  Leeds   24    3   0
44    devilliers               Canberra   76    7   3
45    devilliers     Hyderabad (Deccan)    7    1   0
46    devilliers             Wellington  205    9   8
47    devilliers                 Lahore  155   15   3
48    devilliers            Dubai (DSC)  139    6   0
49    devilliers                 Lord's   53    2   0
50    devilliers              Abu Dhabi  144   11   0
51    devilliers               Hamilton   58    5   1
52    devilliers                 Jaipur   71    7   0
53    devilliers              Melbourne  121    9   0
54    devilliers                 Mohali  144   15   4
55    devilliers           Bloemfontein  156   13   0
56    devilliers             Faisalabad   17    2   0
57    devilliers                Chennai  108    8   3
58    devilliers             Bridgetown   42    8   0
59    devilliers                Belfast   79   11   0
60    devilliers                  Paarl   59    8   0
61    devilliers              Bangalore    8    2   0
62    devilliers                  Perth  188   16   1
63    devilliers               Auckland  151   15   7
64    devilliers              Pallekele   80    6   0
65    devilliers                 Roseau  127    5   1
66    devilliers             Nottingham   80   10   0
67    devilliers           Johannesburg  610   48  29
68    devilliers                  Delhi  107    8   2
69    devilliers                 Harare  322   27  10
70    devilliers          Port of Spain   60    7   1
71    devilliers              Cape Town  380   44   3
72    devilliers              Kimberley  124   12   3
73    devilliers               Adelaide   82    6   1
74    devilliers              Centurion  593   59  11
75    devilliers             Gros Islet   15    3   0
76    devilliers              Ahmedabad  156   14   3
77    devilliers                Cardiff  107    9   1
78    devilliers             Providence   15    1   0
79    devilliers                 Hobart   44    2   0
80    devilliers                 Multan    1    0   0
81    devilliers                 Napier   31    2   0
82    devilliers             Birmingham   31    1   1
83    devilliers        Mount Maunganui  126   14   1
84    devilliers         Port Elizabeth  361   37   8
85    devilliers                 Benoni  309   21  11
86    devilliers                 Nagpur   52    6   1
87    devilliers            Southampton   28    1   0
88    devilliers          Colombo (RPS)  161   16   2
89    devilliers            East London   19    2   0
90    devilliers             Hambantota  108   11   4
91    devilliers          Potchefstroom  136    8   5
92    devilliers            St George's  146   12   5
93    devilliers                 Durban  568   55   4
94    devilliers                Sharjah  119   10   3
95    devilliers               The Oval   40    4   0
96    devilliers               Bulawayo   85    5   2
97    devilliers                Gwalior  114   13   2
98    devilliers                 Sydney  167   18   8
99    devilliers             Basseterre  154   23   4
100  tendulkarsp             Chittagong  289   30   2
101  tendulkarsp               Brisbane   23    4   0
102  tendulkarsp                Kolkata  872  130   3
103  tendulkarsp                  Dhaka  531   57   2
104  tendulkarsp                  Leeds  193   19   3
105  tendulkarsp                Cuttack    2    0   0
106  tendulkarsp                Sialkot   92   11   0
107  tendulkarsp             Georgetown  162   22   0
108  tendulkarsp              St John's    0    0   0
109  tendulkarsp     Hyderabad (Deccan)   39    4   0
110  tendulkarsp             Chandigarh   11    0   0
111  tendulkarsp             Wellington  290   40   3
112  tendulkarsp                 Lahore   51    6   0
113  tendulkarsp                 Mumbai  921  125   9
114  tendulkarsp                  Galle  128   18   1
115  tendulkarsp                 Lord's  195   30   0
116  tendulkarsp               Hamilton  322   48   1
117  tendulkarsp              Melbourne  449   43   3
118  tendulkarsp                 Mohali  767   98   0
119  tendulkarsp           Bloemfontein  170   25   1
120  tendulkarsp             Faisalabad   81    8   0
121  tendulkarsp                Chennai  970  107  10
122  tendulkarsp          Colombo (SSC)  698   80   3
123  tendulkarsp             Bridgetown  104   15   1
124  tendulkarsp               Kingston  149   22   0
125  tendulkarsp              Bangalore  869  118   7
126  tendulkarsp                  Perth  226   32   0
127  tendulkarsp               Auckland    5    1   0
128  tendulkarsp             Nottingham  541   83   1
129  tendulkarsp          Colombo (PSS)  186   19   0
130  tendulkarsp                  Delhi  759  110   2
131  tendulkarsp           Johannesburg  214   38   0
132  tendulkarsp                 Harare  130   14   1
133  tendulkarsp             Manchester  187   25   0
134  tendulkarsp                 Kanpur  199   19   2
135  tendulkarsp          Port of Spain  205   23   0
136  tendulkarsp               Adelaide  326   35   3
137  tendulkarsp              Cape Town  489   64   3
138  tendulkarsp              Centurion  147   21   1
139  tendulkarsp           Christchurch   24    3   0
140  tendulkarsp              Ahmedabad  642   84   1
141  tendulkarsp                 Multan  194   21   0
142  tendulkarsp             Birmingham  187   31   1
143  tendulkarsp                 Napier  201   21   2
144  tendulkarsp         Port Elizabeth   29    5   0
145  tendulkarsp                 Nagpur  970  120   2
146  tendulkarsp             Rawalpindi    1    0   0
147  tendulkarsp          Colombo (RPS)  143   20   0
148  tendulkarsp                Lucknow  142   22   0
149  tendulkarsp            Mumbai (BS)   53    6   0
150  tendulkarsp               The Oval  272   39   0
151  tendulkarsp               Bulawayo  110   16   0
152  tendulkarsp                Karachi   64   12   0
153  tendulkarsp                 Sydney  785   95   1
154  tendulkarsp                 Durban  112   19   0
155       kohli1                Kolkata   70   10   1
156       kohli1                  Dhaka  472   44  10
157       kohli1                Cuttack    1    0   0
158       kohli1                 Mumbai  127   18   1
159       kohli1              Melbourne   90   10   1
160       kohli1                 Mohali   82    9   2
161       kohli1             Dharamsala   43    1   3
162       kohli1                Chennai   70   10   1
163       kohli1              Bangalore   33    1   1
164       kohli1              Pallekele   68   11   1
165       kohli1                 Rajkot   29    2   1
166       kohli1                   Pune   21    2   0
167       kohli1             Manchester    4    0   0
168       kohli1                 Harare   26    3   1
169       kohli1          Port of Spain   14    2   0
170       kohli1               Adelaide   90    9   2
171       kohli1              Ahmedabad   27    3   0
172       kohli1             Birmingham   66    9   1
173       kohli1                 Nagpur   23    2   0
174       kohli1          Colombo (RPS)  185   20   4
175       kohli1                 Sydney   72    2   2
176       kohli1                 Durban   28    5   0
177   tendulkar2             Chittagong  157   19   2
178   tendulkar2               Brisbane   23    4   0
179   tendulkar2                  Dhaka  531   57   2
180   tendulkar2                  Leeds  193   19   3
181   tendulkar2             Wellington  219   29   2
182   tendulkar2                 Lahore   10    1   0
183   tendulkar2                 Lord's  111   16   0
184   tendulkar2                  Galle  128   18   1
185   tendulkar2               Hamilton  201   32   0
186   tendulkar2              Melbourne  449   43   3
187   tendulkar2           Bloemfontein  170   25   1
188   tendulkar2          Colombo (SSC)  171   20   1
189   tendulkar2             Bridgetown  104   15   1
190   tendulkar2               Kingston  127   20   0
191   tendulkar2                  Perth  226   32   0
192   tendulkar2             Nottingham  164   23   0
193   tendulkar2          Colombo (PSS)  115    9   0
194   tendulkar2           Johannesburg   58   10   0
195   tendulkar2                 Harare  130   14   1
196   tendulkar2          Port of Spain  117   14   0
197   tendulkar2              Cape Town  256   39   0
198   tendulkar2               Adelaide  160   21   0
199   tendulkar2              Centurion  147   21   1
200   tendulkar2           Christchurch   24    3   0
201   tendulkar2                 Multan  194   21   0
202   tendulkar2             Birmingham  187   31   1
203   tendulkar2         Port Elizabeth    6    1   0
204   tendulkar2             Rawalpindi    1    0   0
205   tendulkar2               The Oval  114   15   0
206   tendulkar2               Bulawayo  110   16   0
207   tendulkar2                Karachi   49   10   0
208   tendulkar2                 Sydney  336   43   1
209   tendulkar2                 Durban  101   18   0
210      maxwell               Brisbane   54    8   0
211      maxwell               Canberra    4    0   0
212      maxwell            Dubai (DSC)   76    9   1
213      maxwell              Abu Dhabi   48    1   2
214      maxwell                 Jaipur   53    7   1
215      maxwell              Melbourne  101   13   1
216      maxwell                 Mohali    3    0   0
217      maxwell               Auckland    1    0   0
218      maxwell                  Perth  289   37   9
219      maxwell              Bangalore   60    3   7
220      maxwell                   Pune   31    1   3
221      maxwell                 Harare  115   11   6
222      maxwell               Adelaide   74    6   2
223      maxwell                 Hobart   46    5   0
224      maxwell             Birmingham   29    1   2
225      maxwell                 Nagpur    9    2   0
226      maxwell                Sharjah  117    7   4
227      maxwell               The Oval   32    5   1
228      maxwell                 Sydney  133   13   5
229      maxwell                 Ranchi   92    6   5
230        gayle                  Kandy   93   19   1
231        gayle             Chittagong   38    5   0
232        gayle             Vijayawada    5    0   0
233        gayle               Brisbane  142   16   1
234        gayle              St John's  134   17   1
235        gayle                  Dhaka  161   24   1
236        gayle             Jamshedpur    7    1   0
237        gayle             Georgetown    2    0   0
238        gayle                  Leeds   23    5   0
239        gayle                Cuttack    5    1   0
240        gayle            North Sound  117   19   1
241        gayle               Canberra  217   10  16
242        gayle             Wellington   85    6   8
243        gayle          Nairobi (Gym)   80    9   3
244        gayle                 Lahore   41    7   1
245        gayle  Melbourne (Docklands)   54    8   1
246        gayle                 Lord's  142   13   1
247        gayle              Abu Dhabi  235   16  11
248        gayle                 Khulna   50    6   3
249        gayle                 Nelson   36    3   1
250        gayle      Chester-le-Street   29    3   0
251        gayle                 Jaipur  237   28   6
252        gayle              Melbourne   22    1   2
253        gayle             Faisalabad    0    0   0
254        gayle                Chennai   43    8   1
255        gayle             Bridgetown  503   43  21
256        gayle               Kingston  783   85  30
257        gayle          Colombo (SSC)  114   16   4
258        gayle                  Perth   29    3   1
259        gayle               Auckland   48    4   3
260        gayle           Kuala Lumpur  183   23   5
261        gayle              Kingstown  308   38   6
262        gayle                 Roseau   45    5   1
263        gayle             Nottingham  179   21   0
264        gayle                Nairobi  152   17   1
265        gayle                 Rajkot   72   12   2
266        gayle             Basseterre  175   17   6
267        gayle         King City (NW)  129   17   6
268        gayle                Jodhpur   27    4   0
269        gayle                Toronto   29    5   0
270        gayle                 Harare  403   52   7
271        gayle             Canterbury    6    1   0
272        gayle          Port of Spain  529   63   9
273        gayle              Cape Town   61    9   0
274        gayle              Kimberley  119    8   2
275        gayle           Johannesburg  171   14   4
276        gayle               Adelaide   11    1   0
277        gayle             Queenstown   25    1   1
278        gayle              Centurion   34    3   2
279        gayle                 Dublin  136   14   4
280        gayle                  Kochi    0    0   0
281        gayle           Christchurch   78   10   3
282        gayle             Gros Islet  503   64   6
283        gayle              Ahmedabad  316   36   7
284        gayle                Cardiff   63    9   1
285        gayle             Providence  179   14   5
286        gayle                Bristol   72    9   2
287        gayle             Birmingham   77    9   3
288        gayle                 Napier  140   10   5
289        gayle                 Multan    9    2   0
290        gayle         Port Elizabeth   41    7   0
291        gayle                 Benoni    0    0   0
292        gayle                 Nagpur  155   18   3
293        gayle            Southampton  100    6   0
294        gayle          Colombo (RPS)   81   11   0
295        gayle            East London    1    0   0
296        gayle               Vadodara  107   11   3
297        gayle                  Delhi   82    7   2
298        gayle            St George's  286   28   9
299        gayle                Sharjah  160   25   3
300        gayle               The Oval  152   19   6
301        gayle            Mumbai (BS)   61   10   2
302        gayle               Bulawayo  237   26   2
303        gayle                Karachi    7    1   0
304        gayle                 Sydney    3    0   0
305        gayle                 Durban   42    5   2
306      sehwag1             Vijayawada   12    2   0
307      sehwag1               Brisbane    6    1   0
308      sehwag1                Kolkata  158   23   2
309      sehwag1                  Dhaka  474   59  11
310      sehwag1             Jamshedpur   34    5   0
311      sehwag1                Cuttack  160   27   1
312      sehwag1     Hyderabad (Deccan)  169   20   3
313      sehwag1             Wellington   99   18   1
314      sehwag1                 Lahore   46    9   0
315      sehwag1                 Mumbai   58    8   2
316      sehwag1                 Lord's  117   16   1
317      sehwag1  Melbourne (Docklands)   64    8   1
318      sehwag1               Hamilton  129   14   6
319      sehwag1               Peshawar   18    4   0
320      sehwag1          Visakhapatnam  146   22   2
321      sehwag1      Chester-le-Street   16    2   0
322      sehwag1                 Jaipur  104   12   2
323      sehwag1              Melbourne   49    5   0
324      sehwag1                 Mohali  197   31   1
325      sehwag1                Chennai   86   14   1
326      sehwag1          Colombo (SSC)    0    0   0
327      sehwag1             Bridgetown   21    3   0
328      sehwag1               Auckland  152   14   6
329      sehwag1              Bangalore  283   38   4
330      sehwag1                  Perth   32    6   0
331      sehwag1               Dambulla  222   32   2
332      sehwag1               Kingston   34    4   0
333      sehwag1             Nottingham    4    0   0
334      sehwag1                 Rajkot  405   51  12
335      sehwag1             Basseterre   97    9   3
336      sehwag1                   Pune   48    7   0
337      sehwag1           Johannesburg    5    0   0
338      sehwag1                  Delhi  120   17   2
339      sehwag1                Jodhpur   18    3   0
340      sehwag1                 Harare   48    8   0
341      sehwag1                 Kanpur  155   23   1
342      sehwag1          Port of Spain  138   18   1
343      sehwag1              Cape Town    0    0   0
344      sehwag1               Adelaide   20    3   0
345      sehwag1             Queenstown   23    4   0
346      sehwag1              Centurion   44    6   1
347      sehwag1                  Kochi  134   13   3
348      sehwag1              Faridabad   26    4   0
349      sehwag1           Christchurch   10    1   0
350      sehwag1              Ahmedabad   84   11   0
351      sehwag1                 Indore  220   25   7
352      sehwag1                 Napier  185   20   3
353      sehwag1         Port Elizabeth   18    3   0
354      sehwag1                 Nagpur  138   23   1
355      sehwag1             Rawalpindi   93   14   1
356      sehwag1          Colombo (RPS)  421   60   4
357      sehwag1            East London    4    0   0
358      sehwag1             Hambantota  111   12   0
359      sehwag1               Vadodara  100   18   1
360      sehwag1               Guwahati    6    0   1
361      sehwag1               The Oval   46    8   1
362      sehwag1                 Margao   27    5   0
363      sehwag1               Bulawayo    2    0   0
364      sehwag1                Gwalior   52    5   1
365      sehwag1                Karachi  247   32   8
366      sehwag1                 Sydney   34    5   1
367      sehwag1                 Durban   34    4   1
368   tendulkar1             Chittagong  289   30   2

In [69]:
def opposition_details(l,df):
        ru=0
        s4=0
        s6=0
        cnt=0
        sr=0
        bf=0
        for i in range(0, len(df)):
            if(df["Opposition"][i]==l):
                ru=ru+int(df["Runs"][i])
                s4=s4+int(df["4s"][i])
                s6=s6+int(df["6s"][i])
                cnt=cnt+1
                sr=sr+float(df["SR"][i])
                bf=bf+int(df["BF"][i])
        return(ru,s4,s6,cnt,round(sr/cnt,2),bf)

In [70]:
def prep_dataset_opposition(batsman):
    ndf=pd.DataFrame(columns=["Batsman","Ground","Runs","4s","6s","No. of Matches Played","Average Strike Rate","Balls Faced"])
    
    for bat in batsman:
        #print(str(x))
        df=clean_batsman(str(bat))
        li=list(set(df["Opposition"]))
        for gnd in li:
            ru,s_4,s_6,nmf,avg_sr,bf=opposition_details(gnd,df)
            add={"Batsman":bat,"Ground":gnd,"Runs":ru,"4s":s_4,"6s":s_6,"No. of Matches Played":nmf,"Average Strike Rate":avg_sr,"Balls Faced":bf}
            ndf=ndf.append(add,ignore_index=True)
    return(ndf)

In [71]:
opp_df=prep_dataset_opposition(batsman)

C:\Users\Naman\AppData\Local\Temp/ipykernel_9348/1019180788.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["4s"][i] = 0
C:\Users\Naman\AppData\Local\Temp/ipykernel_9348/1019180788.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["6s"][i] = 0
C:\Users\Naman\AppData\Local\Temp/ipykernel_9348/1019180788.py:16: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df["Runs"] = df["Runs"].str.replace(r'*', '')

ValueError: could not convert string to float: '-'

In [61]:
opp_df

         Batsman      Opposition  Runs   4s  6s
0        ganguly  v South Africa   947  129   6
1        ganguly   v West Indies   449   52   2
2        ganguly   v New Zealand   563   69  11
3        ganguly       v England   983  134   7
4        ganguly      v Pakistan   902  115   7
5        ganguly     v Sri Lanka  1064  129   9
6        ganguly    v Bangladesh   371   42   2
7        ganguly     v Australia  1403  162   6
8        ganguly      v Zimbabwe   530   68   7
9     devilliers   v West Indies  1219   95  38
10    devilliers   v New Zealand   634   64   8
11    devilliers       v England   520   55   1
12    devilliers      v Pakistan  1423  127  23
13    devilliers       v Ireland    64    7   2
14    devilliers         v Kenya    39    5   0
15    devilliers     v Sri Lanka   756   66  13
16    devilliers       v Asia XI   150   17   4
17    devilliers      v Scotland    62    9   2
18    devilliers    v Bangladesh   213   15   5
19    devilliers     v Australia  1189  109  17
20    devilliers        v U.A.E.    99    6   4
21    devilliers      v Zimbabwe   527   34  20
22    devilliers         v India   921   92  19
23    devilliers   v Netherlands   134   13   4
24   tendulkarsp  v South Africa  1741  242   9
25   tendulkarsp   v West Indies  1630  218   5
26   tendulkarsp   v New Zealand  1595  212   6
27   tendulkarsp       v England  2535  357   8
28   tendulkarsp      v Pakistan  1057  141   0
29   tendulkarsp     v Sri Lanka  1995  241  10
30   tendulkarsp    v Bangladesh   820   87   4
31   tendulkarsp     v Australia  3630  434  25
32   tendulkarsp      v Zimbabwe   918  126   2
33        kohli1  v South Africa   146   11   5
34        kohli1   v West Indies   157   18   2
35        kohli1   v New Zealand    93   12   1
36        kohli1       v England   184   27   1
37        kohli1      v Pakistan   254   30   4
38        kohli1     v Sri Lanka   201   23   5
39        kohli1    v Bangladesh   129    9   2
40        kohli1     v Australia   401   36   9
41        kohli1   v Afghanistan    50    4   2
42        kohli1      v Zimbabwe    26    3   1
43    tendulkar2  v South Africa   738  114   2
44    tendulkar2   v New Zealand   444   64   2
45    tendulkar2   v West Indies   348   49   1
46    tendulkar2       v England   769  104   4
47    tendulkar2      v Pakistan   254   32   0
48    tendulkar2     v Sri Lanka   414   47   2
49    tendulkar2    v Bangladesh   688   76   4
50    tendulkar2     v Australia  1194  143   4
51    tendulkar2      v Zimbabwe   240   30   1
52       maxwell  v South Africa    47    6   0
53       maxwell   v West Indies    56    9   2
54       maxwell   v New Zealand    30    1   2
55       maxwell       v England   308   41   0
56       maxwell      v Pakistan   283   22   9
57       maxwell     v Sri Lanka   156   17   5
58       maxwell   v Afghanistan    90    6   7
59       maxwell      v Zimbabwe   106   10   6
60       maxwell         v India   291   23  18
61         gayle  v South Africa   985  111  19
62         gayle         v Kenya   384   38   8
63         gayle   v New Zealand   913   90  38
64         gayle       v England   999  109  31
65         gayle      v Pakistan   944  104  19
66         gayle       v Ireland    54    6   1
67         gayle   v Netherlands   131   13   3
68         gayle     v Sri Lanka   494   60  11
69         gayle       v Asia XI     1    0   0
70         gayle      v Scotland    85    8   3
71         gayle    v Bangladesh   519   55  12
72         gayle     v Australia   802   94  20
73         gayle      v Zimbabwe  1532  164  43
74         gayle         v India  1241  168  24
75         gayle        v Canada   137   18   6
76       sehwag1  v South Africa   368   53   5
77       sehwag1   v West Indies   801  104  14
78       sehwag1   v New Zealand   759   91  19
79       sehwag1       v England   859  126  11
80       sehwag1      v Pakistan   848  113  17
81       sehwag1   v Netherlands    39    5   2
82       sehwag1     v Sri Lanka  1256  176  13
83       sehwag1    v Bangladesh   474   59  11
84       sehwag1     v Australia   525   73   6
85       sehwag1      v Zimbabwe    69    8   1
86       sehwag1       v Ireland     5    1   0
87    tendulkar1  v South Africa  1741  242   9
88    tendulkar1   v New Zealand  1595  212   6
89    tendulkar1   v West Indies  1630  218   5
90    tendulkar1       v England  2535  357   8
91    tendulkar1      v Pakistan  1057  141   0
92    tendulkar1     v Sri Lanka  1995  241  10
93    tendulkar1    v Bangladesh   820   87   4
94    tendulkar1     v Australia  3630  434  25
95    tendulkar1      v Zimbabwe   918  126   2
96         kohli  v South Africa   146   11   5
97         kohli   v West Indies    68    7   1
98         kohli   v New Zealand    70   10   1
99         kohli       v England   184   27   1
100        kohli      v Pakistan   150   16   3
101        kohli     v Sri Lanka   145   16   5
102        kohli    v Bangladesh    57    3   1
103        kohli     v Australia   120    9   3
104        kohli   v Afghanistan    50    4   2
105        kohli      v Zimbabwe    26    3   1
106    tendulkar  v South Africa  1741  242   9
107    tendulkar   v New Zealand  1595  212   6
108    tendulkar   v West Indies  1630  218   5
109    tendulkar       v England  2535  357   8
110    tendulkar      v Pakistan  1057  141   0
111    tendulkar     v Sri Lanka  1995  241  10
112    tendulkar    v Bangladesh   820   87   4
113    tendulkar     v Australia  3630  434  25
114    tendulkar      v Zimbabwe   918  126   2
115      sehwag2  v South Africa   105   13   2
116      sehwag2   v West Indies   290   34   4
117      sehwag2   v New Zealand   544   62  15
118      sehwag2       v England   167   24   2
119      sehwag2      v Pakistan   404   59   9
120      sehwag2     v Sri Lanka   716   98   5
121      sehwag2    v Bangladesh   474   59  11
122      sehwag2     v Australia   199   27   2
123      sehwag2      v Zimbabwe    50    8   0
124       sehwag  v South Africa   105   13   2
125       sehwag   v West Indies   290   34   4
126       sehwag   v New Zealand   544   62  15
127       sehwag       v England   167   24   2
128       sehwag      v Pakistan   404   59   9
129       sehwag     v Sri Lanka   716   98   5
130       sehwag    v Bangladesh   474   59  11
131       sehwag     v Australia   199   27   2
132       sehwag      v Zimbabwe    50    8   0

In [90]:
def prep_all(batsman):
    ndf=pd.DataFrame(columns=["Batsman","Opposition","Runs","4s","6s"])
    
    for bat in batsman:
        #print(str(x))
        df=clean_batsman(str(bat))
        # This much is working
        val1=dict_opposition_file(df)
        for opp in val1:
            print(x)
        add={"Batsman":bat,"Opposition":opp,"Runs":ru,"4s":s_4,"6s":s_6}   
        ndf=ndf.append(add,ignore_index=True)
        val1=dict_opposition_file(df)
        val2=dict_ground_file(df)
        batsman_opp_dict[x]=val1
        batsman_gnd_dict[x]=val2
    return(batsman_opp_dict,batsman_gnd_dict)

In [95]:
prep_all(batsman)

C:\Users\Naman\AppData\Local\Temp/ipykernel_4860/1019180788.py:16: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df["Runs"] = df["Runs"].str.replace(r'*', '')
C:\Users\Naman\AppData\Local\Temp/ipykernel_4860/1019180788.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["4s"][i] = 0
C:\Users\Naman\AppData\Local\Temp/ipykernel_4860/1019180788.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["6s"][i] = 0

({'gayle': {'Canada': [137, 18, 6],
   'Sri Lanka': [494, 60, 11],
   'Bangladesh': [519, 55, 12],
   'Netherlands': [131, 13, 3],
   'Kenya': [384, 38, 8],
   'India': [1241, 168, 24],
   'New Zealand': [913, 90, 38],
   'Asia XI': [1, 0, 0],
   'Scotland': [85, 8, 3],
   'England': [999, 109, 31],
   'Zimbabwe': [1532, 164, 43],
   'Australia': [802, 94, 20],
   'South Africa': [985, 111, 19],
   'Pakistan': [944, 104, 19],
   'Ireland': [54, 6, 1]},
  'sehwag2': {'Pakistan': [404, 59, 9],
   'Sri Lanka': [716, 98, 5],
   'Bangladesh': [474, 59, 11],
   'New Zealand': [544, 62, 15],
   'West Indies': [290, 34, 4],
   'England': [167, 24, 2],
   'Australia': [199, 27, 2],
   'South Africa': [105, 13, 2],
   'Zimbabwe': [50, 8, 0]},
  'tendulkar2': {'Pakistan': [254, 32, 0],
   'Sri Lanka': [414, 47, 2],
   'Bangladesh': [688, 76, 4],
   'New Zealand': [444, 64, 2],
   'West Indies': [348, 49, 1],
   'England': [769, 104, 4],
   'Australia': [1194, 143, 4],
   'South Africa': [738, 114, 2],
   'Zimbabwe': [240, 30, 1]},
  'ganguly': {'Pakistan': [902, 115, 7],
   'Sri Lanka': [1064, 129, 9],
   'Bangladesh': [371, 42, 2],
   'New Zealand': [563, 69, 11],
   'West Indies': [449, 52, 2],
   'England': [983, 134, 7],
   'Australia': [1403, 162, 6],
   'South Africa': [947, 129, 6],
   'Zimbabwe': [530, 68, 7]},
  'sehwag1': {'Sri Lanka': [1256, 176, 13],
   'Bangladesh': [474, 59, 11],
   'Netherlands': [39, 5, 2],
   'New Zealand': [759, 91, 19],
   'West Indies': [801, 104, 14],
   'England': [859, 126, 11],
   'Zimbabwe': [69, 8, 1],
   'Australia': [525, 73, 6],
   'South Africa': [368, 53, 5],
   'Pakistan': [848, 113, 17],
   'Ireland': [5, 1, 0]},
  'kohli': {'Pakistan': [150, 16, 3],
   'Sri Lanka': [145, 16, 5],
   'Bangladesh': [57, 3, 1],
   'Afghanistan': [50, 4, 2],
   'New Zealand': [70, 10, 1],
   'West Indies': [68, 7, 1],
   'England': [184, 27, 1],
   'Australia': [120, 9, 3],
   'South Africa': [146, 11, 5],
   'Zimbabwe': [26, 3, 1]},
  'sehwag': {'Pakistan': [404, 59, 9],
   'Sri Lanka': [716, 98, 5],
   'Bangladesh': [474, 59, 11],
   'New Zealand': [544, 62, 15],
   'West Indies': [290, 34, 4],
   'England': [167, 24, 2],
   'Australia': [199, 27, 2],
   'South Africa': [105, 13, 2],
   'Zimbabwe': [50, 8, 0]},
  'kohli1': {'Pakistan': [254, 30, 4],
   'Sri Lanka': [201, 23, 5],
   'Bangladesh': [129, 9, 2],
   'Afghanistan': [50, 4, 2],
   'New Zealand': [93, 12, 1],
   'West Indies': [157, 18, 2],
   'England': [184, 27, 1],
   'Australia': [401, 36, 9],
   'South Africa': [146, 11, 5],
   'Zimbabwe': [26, 3, 1]},
  'tendulkar': {'Sri Lanka': [1995, 241, 10],
   'Bangladesh': [820, 87, 4],
   'New Zealand': [1595, 212, 6],
   'West Indies': [1630, 218, 5],
   'England': [2535, 357, 8],
   'Zimbabwe': [918, 126, 2],
   'Australia': [3630, 434, 25],
   'South Africa': [1741, 242, 9],
   'Pakistan': [1057, 141, 0]},
  'maxwell': {'Sri Lanka': [156, 17, 5],
   'Afghanistan': [90, 6, 7],
   'New Zealand': [30, 1, 2],
   'India': [291, 23, 18],
   'West Indies': [56, 9, 2],
   'England': [308, 41, 0],
   'Zimbabwe': [106, 10, 6],
   'South Africa': [47, 6, 0],
   'Pakistan': [283, 22, 9]},
  'tendulkarsp': {'Pakistan': [1057, 141, 0],
   'Sri Lanka': [1995, 241, 10],
   'Bangladesh': [820, 87, 4],
   'New Zealand': [1595, 212, 6],
   'West Indies': [1630, 218, 5],
   'England': [2535, 357, 8],
   'Australia': [3630, 434, 25],
   'South Africa': [1741, 242, 9],
   'Zimbabwe': [918, 126, 2]},
  'tendulkar1': {'Sri Lanka': [1995, 241, 10],
   'Bangladesh': [820, 87, 4],
   'New Zealand': [1595, 212, 6],
   'West Indies': [1630, 218, 5],
   'England': [2535, 357, 8],
   'Zimbabwe': [918, 126, 2],
   'Australia': [3630, 434, 25],
   'South Africa': [1741, 242, 9],
   'Pakistan': [1057, 141, 0]},
  'devilliers': {'U.A.E.': [99, 6, 4],
   'Pakistan': [1423, 127, 23],
   'Sri Lanka': [756, 66, 13],
   'Netherlands': [134, 13, 4],
   'Bangladesh': [213, 15, 5],
   'Kenya': [39, 5, 0],
   'New Zealand': [634, 64, 8],
   'India': [921, 92, 19],
   'Asia XI': [150, 17, 4],
   'West Indies': [1219, 95, 38],
   'Scotland': [62, 9, 2],
   'England': [520, 55, 1],
   'Australia': [1189, 109, 17],
   'Zimbabwe': [527, 34, 20],
   'Ireland': [64, 7, 2]}},
 {'gayle': {'Jaipur': [237, 28, 6],
   'Port of Spain': [529, 63, 9],
   'Colombo (SSC)': [114, 16, 4],
   'Nairobi (Gym)': [80, 9, 3],
   'Durban': [42, 5, 2],
   'Birmingham': [77, 9, 3],
   'Perth': [29, 3, 1],
   'Auckland': [48, 4, 3],
   'Nairobi': [152, 17, 1],
   'Ahmedabad': [316, 36, 7],
   'Canterbury': [6, 1, 0],
   'Kimberley': [119, 8, 2],
   'Gros Islet': [503, 64, 6],
   'Chittagong': [38, 5, 0],
   'Kuala Lumpur': [183, 23, 5],
   'Providence': [179, 14, 5],
   'Bridgetown': [503, 43, 21],
   'Brisbane': [142, 16, 1],
   'Sharjah': [160, 25, 3],
   'Canberra': [217, 10, 16],
   'Johannesburg': [171, 14, 4],
   'Vadodara': [107, 11, 3],
   'Basseterre': [175, 17, 6],
   "St John's": [134, 17, 1],
   'Faisalabad': [0, 0, 0],
   'North Sound': [117, 19, 1],
   'Melbourne (Docklands)': [54, 8, 1],
   'King City (NW)': [129, 17, 6],
   'Multan': [9, 2, 0],
   'Melbourne': [22, 1, 2],
   "St George's": [286, 28, 9],
   'Karachi': [7, 1, 0],
   'Jamshedpur': [7, 1, 0],
   'Vijayawada': [5, 0, 0],
   'Chennai': [43, 8, 1],
   'Bristol': [72, 9, 2],
   'Delhi': [82, 7, 2],
   'Southampton': [100, 6, 0],
   'Leeds': [23, 5, 0],
   'Nelson': [36, 3, 1],
   'Dhaka': [161, 24, 1],
   'Toronto': [29, 5, 0],
   'Benoni': [0, 0, 0],
   'Wellington': [85, 6, 8],
   'Nottingham': [179, 21, 0],
   'Colombo (RPS)': [81, 11, 0],
   'East London': [1, 0, 0],
   'Bulawayo': [237, 26, 2],
   'Christchurch': [78, 10, 3],
   'Georgetown': [2, 0, 0],
   'Jodhpur': [27, 4, 0],
   'Cuttack': [5, 1, 0],
   'Dublin': [136, 14, 4],
   'Port Elizabeth': [41, 7, 0],
   'Sydney': [3, 0, 0],
   'Kingstown': [308, 38, 6],
   'Cape Town': [61, 9, 0],
   'Cardiff': [63, 9, 1],
   'Nagpur': [155, 18, 3],
   "Lord's": [142, 13, 1],
   'Napier': [140, 10, 5],
   'Queenstown': [25, 1, 1],
   'Adelaide': [11, 1, 0],
   'Kandy': [93, 19, 1],
   'Centurion': [34, 3, 2],
   'Lahore': [41, 7, 1],
   'Harare': [403, 52, 7],
   'Roseau': [45, 5, 1],
   'Khulna': [50, 6, 3],
   'Abu Dhabi': [235, 16, 11],
   'Kochi': [0, 0, 0],
   'The Oval': [152, 19, 6],
   'Kingston': [783, 85, 30],
   'Chester-le-Street': [29, 3, 0],
   'Mumbai (BS)': [61, 10, 2],
   'Rajkot': [72, 12, 2]},
  'sehwag2': {'Colombo (SSC)': [0, 0, 0],
   'Port of Spain': [138, 18, 1],
   'Auckland': [152, 14, 6],
   'Durban': [34, 4, 1],
   'Perth': [32, 6, 0],
   'Bridgetown': [21, 3, 0],
   'Hambantota': [111, 12, 0],
   'Melbourne (Docklands)': [64, 8, 1],
   'Rawalpindi': [93, 14, 1],
   'Melbourne': [49, 5, 0],
   'Karachi': [247, 32, 8],
   'Dhaka': [474, 59, 11],
   'Peshawar': [18, 4, 0],
   'Wellington': [45, 9, 0],
   'East London': [4, 0, 0],
   'Nottingham': [4, 0, 0],
   'Colombo (RPS)': [383, 54, 3],
   'Bulawayo': [2, 0, 0],
   'Hamilton': [129, 14, 6],
   'Port Elizabeth': [18, 3, 0],
   'Sydney': [34, 5, 1],
   'Dambulla': [222, 32, 2],
   'Lahore': [46, 9, 0],
   "Lord's": [117, 16, 1],
   'Basseterre': [97, 9, 3],
   'Cape Town': [0, 0, 0],
   'Napier': [185, 20, 3],
   'Queenstown': [23, 4, 0],
   'Adelaide': [20, 3, 0],
   'Centurion': [44, 6, 1],
   'Harare': [48, 8, 0],
   'Kingston': [34, 4, 0],
   'The Oval': [46, 8, 1],
   'Christchurch': [10, 1, 0],
   'Johannesburg': [5, 0, 0]},
  'tendulkar2': {'Colombo (SSC)': [171, 20, 1],
   'Port of Spain': [117, 14, 0],
   'Perth': [226, 32, 0],
   'Durban': [101, 18, 0],
   'Bloemfontein': [170, 25, 1],
   'Chittagong': [157, 19, 2],
   'Brisbane': [23, 4, 0],
   'Bridgetown': [104, 15, 1],
   'Rawalpindi': [1, 0, 0],
   'Multan': [194, 21, 0],
   'Melbourne': [449, 43, 3],
   'Karachi': [49, 10, 0],
   'Galle': [128, 18, 1],
   'Leeds': [193, 19, 3],
   'Dhaka': [531, 57, 2],
   'Wellington': [219, 29, 2],
   'Colombo (PSS)': [115, 9, 0],
   'Nottingham': [164, 23, 0],
   'Bulawayo': [110, 16, 0],
   'Hamilton': [201, 32, 0],
   'Port Elizabeth': [6, 1, 0],
   'Sydney': [336, 43, 1],
   'Cape Town': [256, 39, 0],
   "Lord's": [111, 16, 0],
   'Lahore': [10, 1, 0],
   'Adelaide': [160, 21, 0],
   'Centurion': [147, 21, 1],
   'Harare': [130, 14, 1],
   'Kingston': [127, 20, 0],
   'The Oval': [114, 15, 0],
   'Christchurch': [24, 3, 0],
   'Birmingham': [187, 31, 1],
   'Johannesburg': [58, 10, 0]},
  'ganguly': {'Port of Spain': [106, 10, 0],
   'Colombo (SSC)': [384, 48, 3],
   'Durban': [42, 5, 0],
   'Perth': [9, 2, 0],
   'Ahmedabad': [411, 42, 7],
   'Bloemfontein': [44, 8, 0],
   'Chittagong': [201, 23, 2],
   'Bridgetown': [138, 15, 1],
   'Brisbane': [144, 18, 0],
   'Mumbai': [230, 32, 3],
   "St John's": [45, 4, 1],
   'Rawalpindi': [77, 12, 0],
   'Melbourne': [241, 27, 1],
   'Karachi': [71, 12, 0],
   'Galle': [35, 2, 0],
   'Chennai': [153, 17, 2],
   'Delhi': [582, 76, 9],
   'Leeds': [128, 14, 3],
   'Dhaka': [170, 19, 0],
   'Wellington': [72, 10, 0],
   'Colombo (PSS)': [53, 5, 2],
   'Nottingham': [432, 59, 3],
   'Colombo (RPS)': [0, 0, 0],
   'Kanpur': [237, 31, 1],
   'Mohali': [372, 40, 3],
   'Bulawayo': [106, 11, 0],
   'Hamilton': [122, 17, 3],
   'Georgetown': [5, 0, 0],
   'Port Elizabeth': [46, 7, 0],
   'Sydney': [160, 22, 1],
   'Cape Town': [165, 21, 1],
   "Lord's": [210, 30, 0],
   'Nagpur': [252, 30, 2],
   'Adelaide': [142, 15, 0],
   'Kandy': [116, 17, 0],
   'Harare': [108, 14, 1],
   'Bangalore': [503, 59, 3],
   'The Oval': [145, 21, 1],
   'Kingston': [106, 16, 0],
   'Kolkata': [440, 57, 1],
   'Johannesburg': [209, 32, 3]},
  'sehwag1': {'Jaipur': [104, 12, 2],
   'Gwalior': [52, 5, 1],
   'Colombo (SSC)': [0, 0, 0],
   'Port of Spain': [138, 18, 1],
   'Auckland': [152, 14, 6],
   'Durban': [34, 4, 1],
   'Perth': [32, 6, 0],
   'Margao': [27, 5, 0],
   'Ahmedabad': [84, 11, 0],
   'Bridgetown': [21, 3, 0],
   'Brisbane': [6, 1, 0],
   'Hambantota': [111, 12, 0],
   'Mumbai': [58, 8, 2],
   'Faridabad': [26, 4, 0],
   'Vadodara': [100, 18, 1],
   'Visakhapatnam': [146, 22, 2],
   'Hyderabad (Deccan)': [169, 20, 3],
   'Melbourne (Docklands)': [64, 8, 1],
   'Rawalpindi': [93, 14, 1],
   'Indore': [220, 25, 7],
   'Melbourne': [49, 5, 0],
   'Karachi': [247, 32, 8],
   'Guwahati': [6, 0, 1],
   'Jamshedpur': [34, 5, 0],
   'Vijayawada': [12, 2, 0],
   'Chennai': [86, 14, 1],
   'Delhi': [120, 17, 2],
   'Pune': [48, 7, 0],
   'Dhaka': [474, 59, 11],
   'Peshawar': [18, 4, 0],
   'Wellington': [99, 18, 1],
   'East London': [4, 0, 0],
   'Nottingham': [4, 0, 0],
   'Colombo (RPS)': [421, 60, 4],
   'Kanpur': [155, 23, 1],
   'Rajkot': [405, 51, 12],
   'Mohali': [197, 31, 1],
   'Bulawayo': [2, 0, 0],
   'Hamilton': [129, 14, 6],
   'Cuttack': [160, 27, 1],
   'Jodhpur': [18, 3, 0],
   'Port Elizabeth': [18, 3, 0],
   'Sydney': [34, 5, 1],
   'Dambulla': [222, 32, 2],
   'Lahore': [46, 9, 0],
   "Lord's": [117, 16, 1],
   'Nagpur': [138, 23, 1],
   'Basseterre': [97, 9, 3],
   'Napier': [185, 20, 3],
   'Queenstown': [23, 4, 0],
   'Cape Town': [0, 0, 0],
   'Adelaide': [20, 3, 0],
   'Centurion': [44, 6, 1],
   'Harare': [48, 8, 0],
   'Kochi': [134, 13, 3],
   'Bangalore': [283, 38, 4],
   'Kingston': [34, 4, 0],
   'The Oval': [46, 8, 1],
   'Christchurch': [10, 1, 0],
   'Chester-le-Street': [16, 2, 0],
   'Kolkata': [158, 23, 2],
   'Johannesburg': [5, 0, 0]},
  'kohli': {'Port of Spain': [14, 2, 0],
   'Durban': [28, 5, 0],
   'Ahmedabad': [27, 3, 0],
   'Mumbai': [38, 7, 0],
   'Melbourne': [31, 3, 0],
   'Chennai': [70, 10, 1],
   'Manchester': [4, 0, 0],
   'Pallekele': [68, 11, 1],
   'Dharamsala': [43, 1, 3],
   'Pune': [21, 2, 0],
   'Dhaka': [319, 24, 10],
   'Colombo (RPS)': [185, 20, 4],
   'Cuttack': [1, 0, 0],
   'Sydney': [22, 0, 1],
   'Harare': [26, 3, 1],
   'Bangalore': [9, 1, 0],
   'Birmingham': [66, 9, 1],
   'Kolkata': [15, 3, 0],
   'Rajkot': [29, 2, 1]},
  'sehwag': {'Colombo (SSC)': [0, 0, 0],
   'Port of Spain': [138, 18, 1],
   'Auckland': [152, 14, 6],
   'Durban': [34, 4, 1],
   'Perth': [32, 6, 0],
   'Bridgetown': [21, 3, 0],
   'Hambantota': [111, 12, 0],
   'Melbourne (Docklands)': [64, 8, 1],
   'Rawalpindi': [93, 14, 1],
   'Melbourne': [49, 5, 0],
   'Karachi': [247, 32, 8],
   'Dhaka': [474, 59, 11],
   'Peshawar': [18, 4, 0],
   'Wellington': [45, 9, 0],
   'East London': [4, 0, 0],
   'Nottingham': [4, 0, 0],
   'Colombo (RPS)': [383, 54, 3],
   'Bulawayo': [2, 0, 0],
   'Hamilton': [129, 14, 6],
   'Port Elizabeth': [18, 3, 0],
   'Sydney': [34, 5, 1],
   'Dambulla': [222, 32, 2],
   'Lahore': [46, 9, 0],
   "Lord's": [117, 16, 1],
   'Basseterre': [97, 9, 3],
   'Cape Town': [0, 0, 0],
   'Napier': [185, 20, 3],
   'Queenstown': [23, 4, 0],
   'Adelaide': [20, 3, 0],
   'Centurion': [44, 6, 1],
   'Harare': [48, 8, 0],
   'Kingston': [34, 4, 0],
   'The Oval': [46, 8, 1],
   'Christchurch': [10, 1, 0],
   'Johannesburg': [5, 0, 0]},
  'kohli1': {'Port of Spain': [14, 2, 0],
   'Durban': [28, 5, 0],
   'Ahmedabad': [27, 3, 0],
   'Mumbai': [127, 18, 1],
   'Melbourne': [90, 10, 1],
   'Chennai': [70, 10, 1],
   'Manchester': [4, 0, 0],
   'Pallekele': [68, 11, 1],
   'Dharamsala': [43, 1, 3],
   'Pune': [21, 2, 0],
   'Dhaka': [472, 44, 10],
   'Colombo (RPS)': [185, 20, 4],
   'Mohali': [82, 9, 2],
   'Cuttack': [1, 0, 0],
   'Sydney': [72, 2, 2],
   'Nagpur': [23, 2, 0],
   'Adelaide': [90, 9, 2],
   'Harare': [26, 3, 1],
   'Bangalore': [33, 1, 1],
   'Birmingham': [66, 9, 1],
   'Kolkata': [70, 10, 1],
   'Rajkot': [29, 2, 1]},
  'tendulkar': {'Colombo (SSC)': [698, 80, 3],
   'Port of Spain': [205, 23, 0],
   'Auckland': [5, 1, 0],
   'Perth': [226, 32, 0],
   'Durban': [112, 19, 0],
   'Ahmedabad': [642, 84, 1],
   'Bloemfontein': [170, 25, 1],
   'Chittagong': [289, 30, 2],
   'Brisbane': [23, 4, 0],
   'Bridgetown': [104, 15, 1],
   'Mumbai': [921, 125, 9],
   'Faisalabad': [81, 8, 0],
   "St John's": [0, 0, 0],
   'Hyderabad (Deccan)': [39, 4, 0],
   'Rawalpindi': [1, 0, 0],
   'Multan': [194, 21, 0],
   'Melbourne': [449, 43, 3],
   'Karachi': [64, 12, 0],
   'Galle': [128, 18, 1],
   'Chennai': [970, 107, 10],
   'Manchester': [187, 25, 0],
   'Delhi': [759, 110, 2],
   'Leeds': [193, 19, 3],
   'Dhaka': [531, 57, 2],
   'Colombo (PSS)': [186, 19, 0],
   'Wellington': [290, 40, 3],
   'Nottingham': [541, 83, 1],
   'Colombo (RPS)': [143, 20, 0],
   'Kanpur': [199, 19, 2],
   'Mohali': [767, 98, 0],
   'Bulawayo': [110, 16, 0],
   'Hamilton': [322, 48, 1],
   'Lucknow': [142, 22, 0],
   'Cuttack': [2, 0, 0],
   'Georgetown': [162, 22, 0],
   'Port Elizabeth': [29, 5, 0],
   'Sydney': [785, 95, 1],
   'Lahore': [51, 6, 0],
   "Lord's": [195, 30, 0],
   'Cape Town': [489, 64, 3],
   'Nagpur': [970, 120, 2],
   'Napier': [201, 21, 2],
   'Adelaide': [326, 35, 3],
   'Centurion': [147, 21, 1],
   'Harare': [130, 14, 1],
   'Bangalore': [869, 118, 7],
   'Kingston': [149, 22, 0],
   'The Oval': [272, 39, 0],
   'Chandigarh': [11, 0, 0],
   'Christchurch': [24, 3, 0],
   'Birmingham': [187, 31, 1],
   'Sialkot': [92, 11, 0],
   'Mumbai (BS)': [53, 6, 0],
   'Kolkata': [872, 130, 3],
   'Johannesburg': [214, 38, 0]},
  'maxwell': {'Ranchi': [92, 6, 5],
   'Auckland': [1, 0, 0],
   'Perth': [289, 37, 9],
   'Brisbane': [54, 8, 0],
   'Sharjah': [117, 7, 4],
   'Melbourne': [101, 13, 1],
   'Pune': [31, 1, 3],
   'Dubai (DSC)': [76, 9, 1],
   'Mohali': [3, 0, 0],
   'Canberra': [4, 0, 0],
   'Sydney': [133, 13, 5],
   'Nagpur': [9, 2, 0],
   'Adelaide': [74, 6, 2],
   'Hobart': [46, 5, 0],
   'Harare': [115, 11, 6],
   'Abu Dhabi': [48, 1, 2],
   'Bangalore': [60, 3, 7],
   'The Oval': [32, 5, 1],
   'Jaipur': [53, 7, 1],
   'Birmingham': [29, 1, 2]},
  'tendulkarsp': {'Colombo (SSC)': [698, 80, 3],
   'Port of Spain': [205, 23, 0],
   'Auckland': [5, 1, 0],
   'Perth': [226, 32, 0],
   'Durban': [112, 19, 0],
   'Ahmedabad': [642, 84, 1],
   'Bloemfontein': [170, 25, 1],
   'Chittagong': [289, 30, 2],
   'Brisbane': [23, 4, 0],
   'Bridgetown': [104, 15, 1],
   'Mumbai': [921, 125, 9],
   'Faisalabad': [81, 8, 0],
   "St John's": [0, 0, 0],
   'Hyderabad (Deccan)': [39, 4, 0],
   'Rawalpindi': [1, 0, 0],
   'Multan': [194, 21, 0],
   'Melbourne': [449, 43, 3],
   'Karachi': [64, 12, 0],
   'Galle': [128, 18, 1],
   'Chennai': [970, 107, 10],
   'Delhi': [759, 110, 2],
   'Manchester': [187, 25, 0],
   'Leeds': [193, 19, 3],
   'Dhaka': [531, 57, 2],
   'Colombo (PSS)': [186, 19, 0],
   'Wellington': [290, 40, 3],
   'Nottingham': [541, 83, 1],
   'Colombo (RPS)': [143, 20, 0],
   'Kanpur': [199, 19, 2],
   'Mohali': [767, 98, 0],
   'Bulawayo': [110, 16, 0],
   'Hamilton': [322, 48, 1],
   'Lucknow': [142, 22, 0],
   'Cuttack': [2, 0, 0],
   'Georgetown': [162, 22, 0],
   'Port Elizabeth': [29, 5, 0],
   'Sydney': [785, 95, 1],
   'Cape Town': [489, 64, 3],
   "Lord's": [195, 30, 0],
   'Nagpur': [970, 120, 2],
   'Lahore': [51, 6, 0],
   'Napier': [201, 21, 2],
   'Adelaide': [326, 35, 3],
   'Centurion': [147, 21, 1],
   'Harare': [130, 14, 1],
   'Bangalore': [869, 118, 7],
   'Kingston': [149, 22, 0],
   'The Oval': [272, 39, 0],
   'Chandigarh': [11, 0, 0],
   'Christchurch': [24, 3, 0],
   'Birmingham': [187, 31, 1],
   'Sialkot': [92, 11, 0],
   'Mumbai (BS)': [53, 6, 0],
   'Kolkata': [872, 130, 3],
   'Johannesburg': [214, 38, 0]},
  'tendulkar1': {'Colombo (SSC)': [698, 80, 3],
   'Port of Spain': [205, 23, 0],
   'Auckland': [5, 1, 0],
   'Perth': [226, 32, 0],
   'Durban': [112, 19, 0],
   'Ahmedabad': [642, 84, 1],
   'Bloemfontein': [170, 25, 1],
   'Chittagong': [289, 30, 2],
   'Brisbane': [23, 4, 0],
   'Bridgetown': [104, 15, 1],
   'Mumbai': [921, 125, 9],
   'Faisalabad': [81, 8, 0],
   "St John's": [0, 0, 0],
   'Hyderabad (Deccan)': [39, 4, 0],
   'Rawalpindi': [1, 0, 0],
   'Multan': [194, 21, 0],
   'Melbourne': [449, 43, 3],
   'Karachi': [64, 12, 0],
   'Galle': [128, 18, 1],
   'Chennai': [970, 107, 10],
   'Manchester': [187, 25, 0],
   'Delhi': [759, 110, 2],
   'Leeds': [193, 19, 3],
   'Dhaka': [531, 57, 2],
   'Colombo (PSS)': [186, 19, 0],
   'Wellington': [290, 40, 3],
   'Nottingham': [541, 83, 1],
   'Colombo (RPS)': [143, 20, 0],
   'Kanpur': [199, 19, 2],
   'Mohali': [767, 98, 0],
   'Bulawayo': [110, 16, 0],
   'Hamilton': [322, 48, 1],
   'Lucknow': [142, 22, 0],
   'Cuttack': [2, 0, 0],
   'Georgetown': [162, 22, 0],
   'Port Elizabeth': [29, 5, 0],
   'Sydney': [785, 95, 1],
   'Lahore': [51, 6, 0],
   "Lord's": [195, 30, 0],
   'Cape Town': [489, 64, 3],
   'Nagpur': [970, 120, 2],
   'Napier': [201, 21, 2],
   'Adelaide': [326, 35, 3],
   'Centurion': [147, 21, 1],
   'Harare': [130, 14, 1],
   'Bangalore': [869, 118, 7],
   'Kingston': [149, 22, 0],
   'The Oval': [272, 39, 0],
   'Chandigarh': [11, 0, 0],
   'Christchurch': [24, 3, 0],
   'Birmingham': [187, 31, 1],
   'Sialkot': [92, 11, 0],
   'Mumbai (BS)': [53, 6, 0],
   'Kolkata': [872, 130, 3],
   'Johannesburg': [214, 38, 0]},
  'devilliers': {'Mount Maunganui': [126, 14, 1],
   'Port of Spain': [60, 7, 1],
   'Auckland': [151, 15, 7],
   'Durban': [568, 55, 4],
   'Perth': [188, 16, 1],
   'Paarl': [59, 8, 0],
   'Birmingham': [31, 1, 1],
   'Ahmedabad': [156, 14, 3],
   'Kimberley': [124, 12, 3],
   'Bloemfontein': [156, 13, 0],
   'Gros Islet': [15, 3, 0],
   'Providence': [15, 1, 0],
   'Potchefstroom': [136, 8, 5],
   'Bridgetown': [42, 8, 0],
   'Sharjah': [119, 10, 3],
   'Hambantota': [108, 11, 4],
   'North Sound': [143, 8, 3],
   'Faisalabad': [17, 2, 0],
   'Hyderabad (Deccan)': [7, 1, 0],
   'Multan': [1, 0, 0],
   'Melbourne': [121, 9, 0],
   "St George's": [146, 12, 5],
   'Belfast': [79, 11, 0],
   'Chennai': [108, 8, 3],
   'Delhi': [107, 8, 2],
   'Pallekele': [80, 6, 0],
   'Southampton': [28, 1, 0],
   'Leeds': [24, 3, 0],
   'Dubai (DSC)': [139, 6, 0],
   'Dhaka': [144, 13, 1],
   'Benoni': [309, 21, 11],
   'Wellington': [205, 9, 8],
   'East London': [19, 2, 0],
   'Nottingham': [80, 10, 0],
   'Colombo (RPS)': [161, 16, 2],

In [13]:
print(clean_batsman("kohli"))

   Runs Mins  BF  4s 6s      SR Pos Dismissal  Inns      Opposition  \
0    26   30  21   3  1  123.80   5   not out     2      v Zimbabwe
1    28   28  19   5  0  147.36   1    bowled     1  v South Africa
2    14   15  12   2  0  116.66   3    caught     1   v West Indies
3     4    5   5   0  0   80.00   4    caught     1       v England
4    15   21  16   3  0   93.75   3    caught     1       v England
5    22   30  21   0  1  104.76   3    caught     2     v Australia
6    31   29  24   3  0  129.16   3    caught     2     v Australia
7    68   65  48  11  1  141.66   3    caught     1     v Sri Lanka
8    70   67  41  10  1  170.73   2    caught     2   v New Zealand
9    50   60  39   4  2  128.20   3    caught     1   v Afghanistan
10   40   33  32   6  0  125.00   3    caught     1       v England
11   15   18  13   2  0  115.38   3    caught     1     v Australia
12   78   61  61   8  2  127.86   3   not out     2      v Pakistan
13    2    5   6   0  0   33.33   3    caught     1  v South Africa
14   21   35  17   2  0  123.52   3    bowled     2       v England
15   38   25  20   7  0  190.00   3       lbw     1       v England
16    9   15  11   1  0   81.81   3    caught     1      v Pakistan
17   27   31  22   3  0  122.72   3   run out     1      v Pakistan
18   29   26  22   2  1  131.81   4    caught     2     v Australia
19   36   45  32   4  1  112.50   3   not out     2      v Pakistan
20   54   51  41   5  1  131.70   3    bowled     2   v West Indies
21   57   66  50   3  1  114.00   3   not out     2    v Bangladesh
22   23   23  22   2  1  104.54   3    caught     1     v Australia
23   72   67  44   5  2  163.63   3   not out     2  v South Africa
24   77   75  58   5  4  132.75   3   run out     1     v Sri Lanka
25   66   54  41   9  1  160.97   3    caught     2       v England
26   43   58  27   1  3  159.25   3    caught     1  v South Africa
27    1    3   1   0  0  100.00   3   run out     1  v South Africa

           Ground   Start Date
0          Harare  12 Jun 2010
1          Durban   9 Jan 2011
2   Port of Spain   4 Jun 2011
3      Manchester  31 Aug 2011
4         Kolkata  29 Oct 2011
5          Sydney   1 Feb 2012
6       Melbourne   3 Feb 2012
7       Pallekele   7 Aug 2012
8         Chennai  11 Sep 2012
9   Colombo (RPS)  19 Sep 2012
10  Colombo (RPS)  23 Sep 2012
11  Colombo (RPS)  28 Sep 2012
12  Colombo (RPS)  30 Sep 2012
13  Colombo (RPS)   2 Oct 2012
14           Pune  20 Dec 2012
15         Mumbai  22 Dec 2012
16      Bangalore  25 Dec 2012
17      Ahmedabad  28 Dec 2012
18         Rajkot  10 Oct 2013
19          Dhaka  21 Mar 2014
20          Dhaka  23 Mar 2014
21          Dhaka  28 Mar 2014
22          Dhaka  30 Mar 2014
23          Dhaka   4 Apr 2014
24          Dhaka   6 Apr 2014
25     Birmingham   7 Sep 2014
26     Dharamsala   2 Oct 2015
27        Cuttack   5 Oct 2015

C:\Users\Naman\AppData\Local\Temp/ipykernel_4860/4240032978.py:12: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df["Runs"] = df["Runs"].str.replace(r'*', '')

In [14]:
x = clean_batsman("kohli")

C:\Users\Naman\AppData\Local\Temp/ipykernel_4860/4240032978.py:12: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df["Runs"] = df["Runs"].str.replace(r'*', '')

In [20]:
x

,Runs,Mins,BF,4s,6s,SR,Pos,Dismissal,Inns,Opposition,Ground,Start Date
0,26,30,21,3,1,123.80,5,not out,2,v Zimbabwe,Harare,12 Jun 2010
1,28,28,19,5,0,147.36,1,bowled,1,v South Africa,Durban,9 Jan 2011
2,14,15,12,2,0,116.66,3,caught,1,v West Indies,Port of Spain,4 Jun 2011
3,4,5,5,0,0,80.00,4,caught,1,v England,Manchester,31 Aug 2011
4,15,21,16,3,0,93.75,3,caught,1,v England,Kolkata,29 Oct 2011
5,22,30,21,0,1,104.76,3,caught,2,v Australia,Sydney,1 Feb 2012
6,31,29,24,3,0,129.16,3,caught,2,v Australia,Melbourne,3 Feb 2012
7,68,65,48,11,1,141.66,3,caught,1,v Sri Lanka,Pallekele,7 Aug 2012
8,70,67,41,10,1,170.73,2,caught,2,v New Zealand,Chennai,11 Sep 2012
9,50,60,39,4,2,128.20,3,caught,1,v Afghanistan,Colombo (RPS),19 Sep 2012
10,40,33,32,6,0,125.00,3,caught,1,v England,Colombo (RPS),23 Sep 2012
11,15,18,13,2,0,115.38,3,caught,1,v Australia,Colombo (RPS),28 Sep 2012
12,78,61,61,8,2,127.86,3,not out,2,v Pakistan,Colombo (RPS),30 Sep 2012
13,2,5,6,0,0,33.33,3,caught,1,v South Africa,Colombo (RPS),2 Oct 2012
14,21,35,17,2,0,123.52,3,bowled,2,v England,Pune,20 Dec 2012
15,38,25,20,7,0,190.00,3,lbw,1,v England,Mumbai,22 Dec 2012
16,9,15,11,1,0,81.81,3,caught,1,v Pakistan,Bangalore,25 Dec 2012
17,27,31,22,3,0,122.72,3,run out,1,v Pakistan,Ahmedabad,28 Dec 2012
18,29,26,22,2,1,131.81,4,caught,2,v Australia,Rajkot,10 Oct 2013
19,36,45,32,4,1,112.50,3,not out,2,v Pakistan,Dhaka,21 Mar 2014
20,54,51,41,5,1,131.70,3,bowled,2,v West Indies,Dhaka,23 Mar 2014
21,57,66,50,3,1,114.00,3,not out,2,v Bangladesh,Dhaka,28 Mar 2014
22,23,23,22,2,1,104.54,3,caught,1,v Australia,Dhaka,30 Mar 2014
23,72,67,44,5,2,163.63,3,not out,2,v South Africa,Dhaka,4 Apr 2014
24,77,75,58,5,4,132.75,3,run out,1,v Sri Lanka,Dhaka,6 Apr 2014
25,66,54,41,9,1,160.97,3,caught,2,v England,Birmingham,7 Sep 2014
26,43,58,27,1,3,159.25,3,caught,1,v South Africa,Dharamsala,2 Oct 2015
27,1,3,1,0,0,100.00,3,run out,1,v South Africa,Cuttack,5 Oct 2015

In [94]:
prep_all(batsman)

C:\Users\Naman\AppData\Local\Temp/ipykernel_4860/1019180788.py:16: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df["Runs"] = df["Runs"].str.replace(r'*', '')
C:\Users\Naman\AppData\Local\Temp/ipykernel_4860/1019180788.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["4s"][i] = 0
C:\Users\Naman\AppData\Local\Temp/ipykernel_4860/1019180788.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["6s"][i] = 0

({'gayle': {'Canada': [137, 18, 6],
   'Sri Lanka': [494, 60, 11],
   'Bangladesh': [519, 55, 12],
   'Netherlands': [131, 13, 3],
   'Kenya': [384, 38, 8],
   'India': [1241, 168, 24],
   'New Zealand': [913, 90, 38],
   'Asia XI': [1, 0, 0],
   'Scotland': [85, 8, 3],
   'England': [999, 109, 31],
   'Zimbabwe': [1532, 164, 43],
   'Australia': [802, 94, 20],
   'South Africa': [985, 111, 19],
   'Pakistan': [944, 104, 19],
   'Ireland': [54, 6, 1]},
  'sehwag2': {'Pakistan': [404, 59, 9],
   'Sri Lanka': [716, 98, 5],
   'Bangladesh': [474, 59, 11],
   'New Zealand': [544, 62, 15],
   'West Indies': [290, 34, 4],
   'England': [167, 24, 2],
   'Australia': [199, 27, 2],
   'South Africa': [105, 13, 2],
   'Zimbabwe': [50, 8, 0]},
  'tendulkar2': {'Pakistan': [254, 32, 0],
   'Sri Lanka': [414, 47, 2],
   'Bangladesh': [688, 76, 4],
   'New Zealand': [444, 64, 2],
   'West Indies': [348, 49, 1],
   'England': [769, 104, 4],
   'Australia': [1194, 143, 4],
   'South Africa': [738, 114, 2],
   'Zimbabwe': [240, 30, 1]},
  'ganguly': {'Pakistan': [902, 115, 7],
   'Sri Lanka': [1064, 129, 9],
   'Bangladesh': [371, 42, 2],
   'New Zealand': [563, 69, 11],
   'West Indies': [449, 52, 2],
   'England': [983, 134, 7],
   'Australia': [1403, 162, 6],
   'South Africa': [947, 129, 6],
   'Zimbabwe': [530, 68, 7]},
  'sehwag1': {'Sri Lanka': [1256, 176, 13],
   'Bangladesh': [474, 59, 11],
   'Netherlands': [39, 5, 2],
   'New Zealand': [759, 91, 19],
   'West Indies': [801, 104, 14],
   'England': [859, 126, 11],
   'Zimbabwe': [69, 8, 1],
   'Australia': [525, 73, 6],
   'South Africa': [368, 53, 5],
   'Pakistan': [848, 113, 17],
   'Ireland': [5, 1, 0]},
  'kohli': {'Pakistan': [150, 16, 3],
   'Sri Lanka': [145, 16, 5],
   'Bangladesh': [57, 3, 1],
   'Afghanistan': [50, 4, 2],
   'New Zealand': [70, 10, 1],
   'West Indies': [68, 7, 1],
   'England': [184, 27, 1],
   'Australia': [120, 9, 3],
   'South Africa': [146, 11, 5],
   'Zimbabwe': [26, 3, 1]},
  'sehwag': {'Pakistan': [404, 59, 9],
   'Sri Lanka': [716, 98, 5],
   'Bangladesh': [474, 59, 11],
   'New Zealand': [544, 62, 15],
   'West Indies': [290, 34, 4],
   'England': [167, 24, 2],
   'Australia': [199, 27, 2],
   'South Africa': [105, 13, 2],
   'Zimbabwe': [50, 8, 0]},
  'kohli1': {'Pakistan': [254, 30, 4],
   'Sri Lanka': [201, 23, 5],
   'Bangladesh': [129, 9, 2],
   'Afghanistan': [50, 4, 2],
   'New Zealand': [93, 12, 1],
   'West Indies': [157, 18, 2],
   'England': [184, 27, 1],
   'Australia': [401, 36, 9],
   'South Africa': [146, 11, 5],
   'Zimbabwe': [26, 3, 1]},
  'tendulkar': {'Sri Lanka': [1995, 241, 10],
   'Bangladesh': [820, 87, 4],
   'New Zealand': [1595, 212, 6],
   'West Indies': [1630, 218, 5],
   'England': [2535, 357, 8],
   'Zimbabwe': [918, 126, 2],
   'Australia': [3630, 434, 25],
   'South Africa': [1741, 242, 9],
   'Pakistan': [1057, 141, 0]},
  'maxwell': {'Sri Lanka': [156, 17, 5],
   'Afghanistan': [90, 6, 7],
   'New Zealand': [30, 1, 2],
   'India': [291, 23, 18],
   'West Indies': [56, 9, 2],
   'England': [308, 41, 0],
   'Zimbabwe': [106, 10, 6],
   'South Africa': [47, 6, 0],
   'Pakistan': [283, 22, 9]},
  'tendulkarsp': {'Pakistan': [1057, 141, 0],
   'Sri Lanka': [1995, 241, 10],
   'Bangladesh': [820, 87, 4],
   'New Zealand': [1595, 212, 6],
   'West Indies': [1630, 218, 5],
   'England': [2535, 357, 8],
   'Australia': [3630, 434, 25],
   'South Africa': [1741, 242, 9],
   'Zimbabwe': [918, 126, 2]},
  'tendulkar1': {'Sri Lanka': [1995, 241, 10],
   'Bangladesh': [820, 87, 4],
   'New Zealand': [1595, 212, 6],
   'West Indies': [1630, 218, 5],
   'England': [2535, 357, 8],
   'Zimbabwe': [918, 126, 2],
   'Australia': [3630, 434, 25],
   'South Africa': [1741, 242, 9],
   'Pakistan': [1057, 141, 0]},
  'devilliers': {'U.A.E.': [99, 6, 4],
   'Pakistan': [1423, 127, 23],
   'Sri Lanka': [756, 66, 13],
   'Netherlands': [134, 13, 4],
   'Bangladesh': [213, 15, 5],
   'Kenya': [39, 5, 0],
   'New Zealand': [634, 64, 8],
   'India': [921, 92, 19],
   'Asia XI': [150, 17, 4],
   'West Indies': [1219, 95, 38],
   'Scotland': [62, 9, 2],
   'England': [520, 55, 1],
   'Australia': [1189, 109, 17],
   'Zimbabwe': [527, 34, 20],
   'Ireland': [64, 7, 2]}},
 {'gayle': {'Jaipur': [237, 28, 6],
   'Port of Spain': [529, 63, 9],
   'Colombo (SSC)': [114, 16, 4],
   'Nairobi (Gym)': [80, 9, 3],
   'Durban': [42, 5, 2],
   'Birmingham': [77, 9, 3],
   'Perth': [29, 3, 1],
   'Auckland': [48, 4, 3],
   'Nairobi': [152, 17, 1],
   'Ahmedabad': [316, 36, 7],
   'Canterbury': [6, 1, 0],
   'Kimberley': [119, 8, 2],
   'Gros Islet': [503, 64, 6],
   'Chittagong': [38, 5, 0],
   'Kuala Lumpur': [183, 23, 5],
   'Providence': [179, 14, 5],
   'Bridgetown': [503, 43, 21],
   'Brisbane': [142, 16, 1],
   'Sharjah': [160, 25, 3],
   'Canberra': [217, 10, 16],
   'Johannesburg': [171, 14, 4],
   'Vadodara': [107, 11, 3],
   'Basseterre': [175, 17, 6],
   "St John's": [134, 17, 1],
   'Faisalabad': [0, 0, 0],
   'North Sound': [117, 19, 1],
   'Melbourne (Docklands)': [54, 8, 1],
   'King City (NW)': [129, 17, 6],
   'Multan': [9, 2, 0],
   'Melbourne': [22, 1, 2],
   "St George's": [286, 28, 9],
   'Karachi': [7, 1, 0],
   'Jamshedpur': [7, 1, 0],
   'Vijayawada': [5, 0, 0],
   'Chennai': [43, 8, 1],
   'Bristol': [72, 9, 2],
   'Delhi': [82, 7, 2],
   'Southampton': [100, 6, 0],
   'Leeds': [23, 5, 0],
   'Nelson': [36, 3, 1],
   'Dhaka': [161, 24, 1],
   'Toronto': [29, 5, 0],
   'Benoni': [0, 0, 0],
   'Wellington': [85, 6, 8],
   'Nottingham': [179, 21, 0],
   'Colombo (RPS)': [81, 11, 0],
   'East London': [1, 0, 0],
   'Bulawayo': [237, 26, 2],
   'Christchurch': [78, 10, 3],
   'Georgetown': [2, 0, 0],
   'Jodhpur': [27, 4, 0],
   'Cuttack': [5, 1, 0],
   'Dublin': [136, 14, 4],
   'Port Elizabeth': [41, 7, 0],
   'Sydney': [3, 0, 0],
   'Kingstown': [308, 38, 6],
   'Cape Town': [61, 9, 0],
   'Cardiff': [63, 9, 1],
   'Nagpur': [155, 18, 3],
   "Lord's": [142, 13, 1],
   'Napier': [140, 10, 5],
   'Queenstown': [25, 1, 1],
   'Adelaide': [11, 1, 0],
   'Kandy': [93, 19, 1],
   'Centurion': [34, 3, 2],
   'Lahore': [41, 7, 1],
   'Harare': [403, 52, 7],
   'Roseau': [45, 5, 1],
   'Khulna': [50, 6, 3],
   'Abu Dhabi': [235, 16, 11],
   'Kochi': [0, 0, 0],
   'The Oval': [152, 19, 6],
   'Kingston': [783, 85, 30],
   'Chester-le-Street': [29, 3, 0],
   'Mumbai (BS)': [61, 10, 2],
   'Rajkot': [72, 12, 2]},
  'sehwag2': {'Colombo (SSC)': [0, 0, 0],
   'Port of Spain': [138, 18, 1],
   'Auckland': [152, 14, 6],
   'Durban': [34, 4, 1],
   'Perth': [32, 6, 0],
   'Bridgetown': [21, 3, 0],
   'Hambantota': [111, 12, 0],
   'Melbourne (Docklands)': [64, 8, 1],
   'Rawalpindi': [93, 14, 1],
   'Melbourne': [49, 5, 0],
   'Karachi': [247, 32, 8],
   'Dhaka': [474, 59, 11],
   'Peshawar': [18, 4, 0],
   'Wellington': [45, 9, 0],
   'East London': [4, 0, 0],
   'Nottingham': [4, 0, 0],
   'Colombo (RPS)': [383, 54, 3],
   'Bulawayo': [2, 0, 0],
   'Hamilton': [129, 14, 6],
   'Port Elizabeth': [18, 3, 0],
   'Sydney': [34, 5, 1],
   'Dambulla': [222, 32, 2],
   'Lahore': [46, 9, 0],
   "Lord's": [117, 16, 1],
   'Basseterre': [97, 9, 3],
   'Cape Town': [0, 0, 0],
   'Napier': [185, 20, 3],
   'Queenstown': [23, 4, 0],
   'Adelaide': [20, 3, 0],
   'Centurion': [44, 6, 1],
   'Harare': [48, 8, 0],
   'Kingston': [34, 4, 0],
   'The Oval': [46, 8, 1],
   'Christchurch': [10, 1, 0],
   'Johannesburg': [5, 0, 0]},
  'tendulkar2': {'Colombo (SSC)': [171, 20, 1],
   'Port of Spain': [117, 14, 0],
   'Perth': [226, 32, 0],
   'Durban': [101, 18, 0],
   'Bloemfontein': [170, 25, 1],
   'Chittagong': [157, 19, 2],
   'Brisbane': [23, 4, 0],
   'Bridgetown': [104, 15, 1],
   'Rawalpindi': [1, 0, 0],
   'Multan': [194, 21, 0],
   'Melbourne': [449, 43, 3],
   'Karachi': [49, 10, 0],
   'Galle': [128, 18, 1],
   'Leeds': [193, 19, 3],
   'Dhaka': [531, 57, 2],
   'Wellington': [219, 29, 2],
   'Colombo (PSS)': [115, 9, 0],
   'Nottingham': [164, 23, 0],
   'Bulawayo': [110, 16, 0],
   'Hamilton': [201, 32, 0],
   'Port Elizabeth': [6, 1, 0],
   'Sydney': [336, 43, 1],
   'Cape Town': [256, 39, 0],
   "Lord's": [111, 16, 0],
   'Lahore': [10, 1, 0],
   'Adelaide': [160, 21, 0],
   'Centurion': [147, 21, 1],
   'Harare': [130, 14, 1],
   'Kingston': [127, 20, 0],
   'The Oval': [114, 15, 0],
   'Christchurch': [24, 3, 0],
   'Birmingham': [187, 31, 1],
   'Johannesburg': [58, 10, 0]},
  'ganguly': {'Port of Spain': [106, 10, 0],
   'Colombo (SSC)': [384, 48, 3],
   'Durban': [42, 5, 0],
   'Perth': [9, 2, 0],
   'Ahmedabad': [411, 42, 7],
   'Bloemfontein': [44, 8, 0],
   'Chittagong': [201, 23, 2],
   'Bridgetown': [138, 15, 1],
   'Brisbane': [144, 18, 0],
   'Mumbai': [230, 32, 3],
   "St John's": [45, 4, 1],
   'Rawalpindi': [77, 12, 0],
   'Melbourne': [241, 27, 1],
   'Karachi': [71, 12, 0],
   'Galle': [35, 2, 0],
   'Chennai': [153, 17, 2],
   'Delhi': [582, 76, 9],
   'Leeds': [128, 14, 3],
   'Dhaka': [170, 19, 0],
   'Wellington': [72, 10, 0],
   'Colombo (PSS)': [53, 5, 2],
   'Nottingham': [432, 59, 3],
   'Colombo (RPS)': [0, 0, 0],
   'Kanpur': [237, 31, 1],
   'Mohali': [372, 40, 3],
   'Bulawayo': [106, 11, 0],
   'Hamilton': [122, 17, 3],
   'Georgetown': [5, 0, 0],
   'Port Elizabeth': [46, 7, 0],
   'Sydney': [160, 22, 1],
   'Cape Town': [165, 21, 1],
   "Lord's": [210, 30, 0],
   'Nagpur': [252, 30, 2],
   'Adelaide': [142, 15, 0],
   'Kandy': [116, 17, 0],
   'Harare': [108, 14, 1],
   'Bangalore': [503, 59, 3],
   'The Oval': [145, 21, 1],
   'Kingston': [106, 16, 0],
   'Kolkata': [440, 57, 1],
   'Johannesburg': [209, 32, 3]},
  'sehwag1': {'Jaipur': [104, 12, 2],
   'Gwalior': [52, 5, 1],
   'Colombo (SSC)': [0, 0, 0],
   'Port of Spain': [138, 18, 1],
   'Auckland': [152, 14, 6],
   'Durban': [34, 4, 1],
   'Perth': [32, 6, 0],
   'Margao': [27, 5, 0],
   'Ahmedabad': [84, 11, 0],
   'Bridgetown': [21, 3, 0],
   'Brisbane': [6, 1, 0],
   'Hambantota': [111, 12, 0],
   'Mumbai': [58, 8, 2],
   'Faridabad': [26, 4, 0],
   'Vadodara': [100, 18, 1],
   'Visakhapatnam': [146, 22, 2],
   'Hyderabad (Deccan)': [169, 20, 3],
   'Melbourne (Docklands)': [64, 8, 1],
   'Rawalpindi': [93, 14, 1],
   'Indore': [220, 25, 7],
   'Melbourne': [49, 5, 0],
   'Karachi': [247, 32, 8],
   'Guwahati': [6, 0, 1],
   'Jamshedpur': [34, 5, 0],
   'Vijayawada': [12, 2, 0],
   'Chennai': [86, 14, 1],
   'Delhi': [120, 17, 2],
   'Pune': [48, 7, 0],
   'Dhaka': [474, 59, 11],
   'Peshawar': [18, 4, 0],
   'Wellington': [99, 18, 1],
   'East London': [4, 0, 0],
   'Nottingham': [4, 0, 0],
   'Colombo (RPS)': [421, 60, 4],
   'Kanpur': [155, 23, 1],
   'Rajkot': [405, 51, 12],
   'Mohali': [197, 31, 1],
   'Bulawayo': [2, 0, 0],
   'Hamilton': [129, 14, 6],
   'Cuttack': [160, 27, 1],
   'Jodhpur': [18, 3, 0],
   'Port Elizabeth': [18, 3, 0],
   'Sydney': [34, 5, 1],
   'Dambulla': [222, 32, 2],
   'Lahore': [46, 9, 0],
   "Lord's": [117, 16, 1],
   'Nagpur': [138, 23, 1],
   'Basseterre': [97, 9, 3],
   'Napier': [185, 20, 3],
   'Queenstown': [23, 4, 0],
   'Cape Town': [0, 0, 0],
   'Adelaide': [20, 3, 0],
   'Centurion': [44, 6, 1],
   'Harare': [48, 8, 0],
   'Kochi': [134, 13, 3],
   'Bangalore': [283, 38, 4],
   'Kingston': [34, 4, 0],
   'The Oval': [46, 8, 1],
   'Christchurch': [10, 1, 0],
   'Chester-le-Street': [16, 2, 0],
   'Kolkata': [158, 23, 2],
   'Johannesburg': [5, 0, 0]},
  'kohli': {'Port of Spain': [14, 2, 0],
   'Durban': [28, 5, 0],
   'Ahmedabad': [27, 3, 0],
   'Mumbai': [38, 7, 0],
   'Melbourne': [31, 3, 0],
   'Chennai': [70, 10, 1],
   'Manchester': [4, 0, 0],
   'Pallekele': [68, 11, 1],
   'Dharamsala': [43, 1, 3],
   'Pune': [21, 2, 0],
   'Dhaka': [319, 24, 10],
   'Colombo (RPS)': [185, 20, 4],
   'Cuttack': [1, 0, 0],
   'Sydney': [22, 0, 1],
   'Harare': [26, 3, 1],
   'Bangalore': [9, 1, 0],
   'Birmingham': [66, 9, 1],
   'Kolkata': [15, 3, 0],
   'Rajkot': [29, 2, 1]},
  'sehwag': {'Colombo (SSC)': [0, 0, 0],
   'Port of Spain': [138, 18, 1],
   'Auckland': [152, 14, 6],
   'Durban': [34, 4, 1],
   'Perth': [32, 6, 0],
   'Bridgetown': [21, 3, 0],
   'Hambantota': [111, 12, 0],
   'Melbourne (Docklands)': [64, 8, 1],
   'Rawalpindi': [93, 14, 1],
   'Melbourne': [49, 5, 0],
   'Karachi': [247, 32, 8],
   'Dhaka': [474, 59, 11],
   'Peshawar': [18, 4, 0],
   'Wellington': [45, 9, 0],
   'East London': [4, 0, 0],
   'Nottingham': [4, 0, 0],
   'Colombo (RPS)': [383, 54, 3],
   'Bulawayo': [2, 0, 0],
   'Hamilton': [129, 14, 6],
   'Port Elizabeth': [18, 3, 0],
   'Sydney': [34, 5, 1],
   'Dambulla': [222, 32, 2],
   'Lahore': [46, 9, 0],
   "Lord's": [117, 16, 1],
   'Basseterre': [97, 9, 3],
   'Cape Town': [0, 0, 0],
   'Napier': [185, 20, 3],
   'Queenstown': [23, 4, 0],
   'Adelaide': [20, 3, 0],
   'Centurion': [44, 6, 1],
   'Harare': [48, 8, 0],
   'Kingston': [34, 4, 0],
   'The Oval': [46, 8, 1],
   'Christchurch': [10, 1, 0],
   'Johannesburg': [5, 0, 0]},
  'kohli1': {'Port of Spain': [14, 2, 0],
   'Durban': [28, 5, 0],
   'Ahmedabad': [27, 3, 0],
   'Mumbai': [127, 18, 1],
   'Melbourne': [90, 10, 1],
   'Chennai': [70, 10, 1],
   'Manchester': [4, 0, 0],
   'Pallekele': [68, 11, 1],
   'Dharamsala': [43, 1, 3],
   'Pune': [21, 2, 0],
   'Dhaka': [472, 44, 10],
   'Colombo (RPS)': [185, 20, 4],
   'Mohali': [82, 9, 2],
   'Cuttack': [1, 0, 0],
   'Sydney': [72, 2, 2],
   'Nagpur': [23, 2, 0],
   'Adelaide': [90, 9, 2],
   'Harare': [26, 3, 1],
   'Bangalore': [33, 1, 1],
   'Birmingham': [66, 9, 1],
   'Kolkata': [70, 10, 1],
   'Rajkot': [29, 2, 1]},
  'tendulkar': {'Colombo (SSC)': [698, 80, 3],
   'Port of Spain': [205, 23, 0],
   'Auckland': [5, 1, 0],
   'Perth': [226, 32, 0],
   'Durban': [112, 19, 0],
   'Ahmedabad': [642, 84, 1],
   'Bloemfontein': [170, 25, 1],
   'Chittagong': [289, 30, 2],
   'Brisbane': [23, 4, 0],
   'Bridgetown': [104, 15, 1],
   'Mumbai': [921, 125, 9],
   'Faisalabad': [81, 8, 0],
   "St John's": [0, 0, 0],
   'Hyderabad (Deccan)': [39, 4, 0],
   'Rawalpindi': [1, 0, 0],
   'Multan': [194, 21, 0],
   'Melbourne': [449, 43, 3],
   'Karachi': [64, 12, 0],
   'Galle': [128, 18, 1],
   'Chennai': [970, 107, 10],
   'Manchester': [187, 25, 0],
   'Delhi': [759, 110, 2],
   'Leeds': [193, 19, 3],
   'Dhaka': [531, 57, 2],
   'Colombo (PSS)': [186, 19, 0],
   'Wellington': [290, 40, 3],
   'Nottingham': [541, 83, 1],
   'Colombo (RPS)': [143, 20, 0],
   'Kanpur': [199, 19, 2],
   'Mohali': [767, 98, 0],
   'Bulawayo': [110, 16, 0],
   'Hamilton': [322, 48, 1],
   'Lucknow': [142, 22, 0],
   'Cuttack': [2, 0, 0],
   'Georgetown': [162, 22, 0],
   'Port Elizabeth': [29, 5, 0],
   'Sydney': [785, 95, 1],
   'Lahore': [51, 6, 0],
   "Lord's": [195, 30, 0],
   'Cape Town': [489, 64, 3],
   'Nagpur': [970, 120, 2],
   'Napier': [201, 21, 2],
   'Adelaide': [326, 35, 3],
   'Centurion': [147, 21, 1],
   'Harare': [130, 14, 1],
   'Bangalore': [869, 118, 7],
   'Kingston': [149, 22, 0],
   'The Oval': [272, 39, 0],
   'Chandigarh': [11, 0, 0],
   'Christchurch': [24, 3, 0],
   'Birmingham': [187, 31, 1],
   'Sialkot': [92, 11, 0],
   'Mumbai (BS)': [53, 6, 0],
   'Kolkata': [872, 130, 3],
   'Johannesburg': [214, 38, 0]},
  'maxwell': {'Ranchi': [92, 6, 5],
   'Auckland': [1, 0, 0],
   'Perth': [289, 37, 9],
   'Brisbane': [54, 8, 0],
   'Sharjah': [117, 7, 4],
   'Melbourne': [101, 13, 1],
   'Pune': [31, 1, 3],
   'Dubai (DSC)': [76, 9, 1],
   'Mohali': [3, 0, 0],
   'Canberra': [4, 0, 0],
   'Sydney': [133, 13, 5],
   'Nagpur': [9, 2, 0],
   'Adelaide': [74, 6, 2],
   'Hobart': [46, 5, 0],
   'Harare': [115, 11, 6],
   'Abu Dhabi': [48, 1, 2],
   'Bangalore': [60, 3, 7],
   'The Oval': [32, 5, 1],
   'Jaipur': [53, 7, 1],
   'Birmingham': [29, 1, 2]},
  'tendulkarsp': {'Colombo (SSC)': [698, 80, 3],
   'Port of Spain': [205, 23, 0],
   'Auckland': [5, 1, 0],
   'Perth': [226, 32, 0],
   'Durban': [112, 19, 0],
   'Ahmedabad': [642, 84, 1],
   'Bloemfontein': [170, 25, 1],
   'Chittagong': [289, 30, 2],
   'Brisbane': [23, 4, 0],
   'Bridgetown': [104, 15, 1],
   'Mumbai': [921, 125, 9],
   'Faisalabad': [81, 8, 0],
   "St John's": [0, 0, 0],
   'Hyderabad (Deccan)': [39, 4, 0],
   'Rawalpindi': [1, 0, 0],
   'Multan': [194, 21, 0],
   'Melbourne': [449, 43, 3],
   'Karachi': [64, 12, 0],
   'Galle': [128, 18, 1],
   'Chennai': [970, 107, 10],
   'Delhi': [759, 110, 2],
   'Manchester': [187, 25, 0],
   'Leeds': [193, 19, 3],
   'Dhaka': [531, 57, 2],
   'Colombo (PSS)': [186, 19, 0],
   'Wellington': [290, 40, 3],
   'Nottingham': [541, 83, 1],
   'Colombo (RPS)': [143, 20, 0],
   'Kanpur': [199, 19, 2],
   'Mohali': [767, 98, 0],
   'Bulawayo': [110, 16, 0],
   'Hamilton': [322, 48, 1],
   'Lucknow': [142, 22, 0],
   'Cuttack': [2, 0, 0],
   'Georgetown': [162, 22, 0],
   'Port Elizabeth': [29, 5, 0],
   'Sydney': [785, 95, 1],
   'Cape Town': [489, 64, 3],
   "Lord's": [195, 30, 0],
   'Nagpur': [970, 120, 2],
   'Lahore': [51, 6, 0],
   'Napier': [201, 21, 2],
   'Adelaide': [326, 35, 3],
   'Centurion': [147, 21, 1],
   'Harare': [130, 14, 1],
   'Bangalore': [869, 118, 7],
   'Kingston': [149, 22, 0],
   'The Oval': [272, 39, 0],
   'Chandigarh': [11, 0, 0],
   'Christchurch': [24, 3, 0],
   'Birmingham': [187, 31, 1],
   'Sialkot': [92, 11, 0],
   'Mumbai (BS)': [53, 6, 0],
   'Kolkata': [872, 130, 3],
   'Johannesburg': [214, 38, 0]},
  'tendulkar1': {'Colombo (SSC)': [698, 80, 3],
   'Port of Spain': [205, 23, 0],
   'Auckland': [5, 1, 0],
   'Perth': [226, 32, 0],
   'Durban': [112, 19, 0],
   'Ahmedabad': [642, 84, 1],
   'Bloemfontein': [170, 25, 1],
   'Chittagong': [289, 30, 2],
   'Brisbane': [23, 4, 0],
   'Bridgetown': [104, 15, 1],
   'Mumbai': [921, 125, 9],
   'Faisalabad': [81, 8, 0],
   "St John's": [0, 0, 0],
   'Hyderabad (Deccan)': [39, 4, 0],
   'Rawalpindi': [1, 0, 0],
   'Multan': [194, 21, 0],
   'Melbourne': [449, 43, 3],
   'Karachi': [64, 12, 0],
   'Galle': [128, 18, 1],
   'Chennai': [970, 107, 10],
   'Manchester': [187, 25, 0],
   'Delhi': [759, 110, 2],
   'Leeds': [193, 19, 3],
   'Dhaka': [531, 57, 2],
   'Colombo (PSS)': [186, 19, 0],
   'Wellington': [290, 40, 3],
   'Nottingham': [541, 83, 1],
   'Colombo (RPS)': [143, 20, 0],
   'Kanpur': [199, 19, 2],
   'Mohali': [767, 98, 0],
   'Bulawayo': [110, 16, 0],
   'Hamilton': [322, 48, 1],
   'Lucknow': [142, 22, 0],
   'Cuttack': [2, 0, 0],
   'Georgetown': [162, 22, 0],
   'Port Elizabeth': [29, 5, 0],
   'Sydney': [785, 95, 1],
   'Lahore': [51, 6, 0],
   "Lord's": [195, 30, 0],
   'Cape Town': [489, 64, 3],
   'Nagpur': [970, 120, 2],
   'Napier': [201, 21, 2],
   'Adelaide': [326, 35, 3],
   'Centurion': [147, 21, 1],
   'Harare': [130, 14, 1],
   'Bangalore': [869, 118, 7],
   'Kingston': [149, 22, 0],
   'The Oval': [272, 39, 0],
   'Chandigarh': [11, 0, 0],
   'Christchurch': [24, 3, 0],
   'Birmingham': [187, 31, 1],
   'Sialkot': [92, 11, 0],
   'Mumbai (BS)': [53, 6, 0],
   'Kolkata': [872, 130, 3],
   'Johannesburg': [214, 38, 0]},
  'devilliers': {'Mount Maunganui': [126, 14, 1],
   'Port of Spain': [60, 7, 1],
   'Auckland': [151, 15, 7],
   'Durban': [568, 55, 4],
   'Perth': [188, 16, 1],
   'Paarl': [59, 8, 0],
   'Birmingham': [31, 1, 1],
   'Ahmedabad': [156, 14, 3],
   'Kimberley': [124, 12, 3],
   'Bloemfontein': [156, 13, 0],
   'Gros Islet': [15, 3, 0],
   'Providence': [15, 1, 0],
   'Potchefstroom': [136, 8, 5],
   'Bridgetown': [42, 8, 0],
   'Sharjah': [119, 10, 3],
   'Hambantota': [108, 11, 4],
   'North Sound': [143, 8, 3],
   'Faisalabad': [17, 2, 0],
   'Hyderabad (Deccan)': [7, 1, 0],
   'Multan': [1, 0, 0],
   'Melbourne': [121, 9, 0],
   "St George's": [146, 12, 5],
   'Belfast': [79, 11, 0],
   'Chennai': [108, 8, 3],
   'Delhi': [107, 8, 2],
   'Pallekele': [80, 6, 0],
   'Southampton': [28, 1, 0],
   'Leeds': [24, 3, 0],
   'Dubai (DSC)': [139, 6, 0],
   'Dhaka': [144, 13, 1],
   'Benoni': [309, 21, 11],
   'Wellington': [205, 9, 8],
   'East London': [19, 2, 0],
   'Nottingham': [80, 10, 0],
   'Colombo (RPS)': [161, 16, 2],

In [57]:
def dict_ground_file(file):
    df=pd.read_csv(file)
    li=list(set(df["Ground"]))
    dict_gnd={}
    for x in li:
        ru=0
        s4=0
        s6=0
        for i in range(0, len(df)):
            if(df["Ground"][i]==x):
                ru=ru+int(df["Runs"][i])
                s4=s4+int(df["4s"][i])
                s6=s6+int(df["6s"][i])
        val=[ru,s4,s6]
        dict_gnd[x]=val
    print(dict_gnd)

In [63]:
x="kohli"
file=f"data/{x}.csv"
df=pd.read_csv(file)
df.head(5)

,Unnamed: 0,Runs,Mins,BF,4s,6s,SR,Pos,Dismissal,Inns,Opposition,Ground,Start Date
0,1,26*,30,21,3,1,123.80,5,not out,2,v Zimbabwe,Harare,12 Jun 2010
1,2,DNB,-,-,-,-,-,-,-,2,v Zimbabwe,Harare,13 Jun 2010
2,3,28,28,19,5,0,147.36,1,bowled,1,v South Africa,Durban,9 Jan 2011
3,4,14,15,12,2,0,116.66,3,caught,1,v West Indies,Port of Spain,4 Jun 2011
4,5,4,5,5,0,0,80.00,4,caught,1,v England,Manchester,31 Aug 2011

# Cleaning Bowler's File

In [3]:
df=pd.read_csv("data/malinga.csv")

In [4]:
df.drop(labels="Unnamed: 0",axis=1,inplace=True)

In [5]:
df["Bowls_Bowled"]=df["Overs"]*6
df["Bowls_Bowled"]=df["Bowls_Bowled"].astype(int)

In [6]:
df.head(5)

,Overs,Mdns,Runs,Wkts,Econ,Pos,Inns,Opposition,Ground,Start Date,Bowls_Bowled
0,14.0,3,50,2,3.57,2,1,v Australia,Darwin,1 Jul 2004,84
1,15.1,3,42,4,2.76,3,3,v Australia,Darwin,1 Jul 2004,90
2,29.2,2,149,4,5.07,4,1,v Australia,Cairns,9 Jul 2004,175
3,5.0,0,23,0,4.60,3,3,v Australia,Cairns,9 Jul 2004,30
4,13.0,1,51,1,3.92,2,2,v South Africa,Colombo (SSC),11 Aug 2004,78
5,13.0,1,54,3,4.15,2,4,v South Africa,Colombo (SSC),11 Aug 2004,78
6,10.0,1,50,1,5.00,2,2,v Pakistan,Faisalabad,20 Oct 2004,60
7,6.0,2,13,0,2.16,2,4,v Pakistan,Faisalabad,20 Oct 2004,36
8,34.0,5,130,4,3.82,2,1,v New Zealand,Napier,4 Apr 2005,204
9,24.4,4,80,5,3.24,2,3,v New Zealand,Napier,4 Apr 2005,146
10,34.0,2,124,2,3.64,2,2,v New Zealand,Wellington,11 Apr 2005,204
11,14.0,1,71,4,5.07,2,1,v West Indies,Colombo (SSC),13 Jul 2005,84
12,12.0,5,22,0,1.83,2,3,v West Indies,Colombo (SSC),13 Jul 2005,72
13,9.0,3,22,0,2.44,2,2,v West Indies,Kandy,22 Jul 2005,54
14,12.0,2,48,1,4.00,1,4,v West Indies,Kandy,22 Jul 2005,72
15,8.0,1,44,1,5.50,2,1,v Bangladesh,Colombo (RPS),12 Sep 2005,48
16,6.0,1,32,3,5.33,2,3,v Bangladesh,Colombo (RPS),12 Sep 2005,36
17,9.0,1,32,2,3.55,2,2,v Bangladesh,Colombo (PSS),20 Sep 2005,54
18,7.0,0,31,0,4.42,2,3,v Bangladesh,Colombo (PSS),20 Sep 2005,42
19,32.0,4,113,3,3.53,1,1,v India,Ahmedabad,18 Dec 2005,192
20,12.0,2,63,1,5.25,1,3,v India,Ahmedabad,18 Dec 2005,72
21,16.5,3,57,4,3.38,1,1,v Bangladesh,Chittagong,28 Feb 2006,99
22,13.0,2,41,0,3.15,1,3,v Bangladesh,Chittagong,28 Feb 2006,78
23,20.0,1,73,2,3.65,1,1,v Bangladesh,Bogra,8 Mar 2006,120
24,14.1,1,51,3,3.60,1,3,v Bangladesh,Bogra,8 Mar 2006,84
25,12.0,3,30,3,2.50,1,2,v Pakistan,Colombo (SSC),26 Mar 2006,72
26,13.0,3,44,0,3.38,1,4,v Pakistan,Colombo (SSC),26 Mar 2006,78
27,6.0,2,19,0,3.16,1,2,v Pakistan,Kandy,3 Apr 2006,36
28,6.2,0,33,1,5.21,3,4,v Pakistan,Kandy,3 Apr 2006,37
29,13.3,2,68,2,5.03,2,2,v England,Birmingham,25 May 2006,79
30,7.0,1,29,0,4.14,2,4,v England,Birmingham,25 May 2006,42
31,23.1,3,62,2,2.67,2,2,v England,Nottingham,2 Jun 2006,138
32,7.0,0,24,0,3.42,2,4,v England,Nottingham,2 Jun 2006,42
33,10.0,2,38,0,3.80,1,1,v South Africa,Colombo (SSC),27 Jul 2006,60
34,16.2,0,85,1,5.20,1,3,v South Africa,Colombo (SSC),27 Jul 2006,97
35,18.0,4,81,3,4.50,2,1,v South Africa,Colombo (PSS),4 Aug 2006,108
36,12.0,1,55,0,4.58,2,3,v South Africa,Colombo (PSS),4 Aug 2006,72
37,19.4,2,43,2,2.18,2,2,v New Zealand,Christchurch,7 Dec 2006,116
38,4.0,1,35,0,8.75,2,4,v New Zealand,Christchurch,7 Dec 2006,24
39,18.0,4,68,5,3.77,2,2,v New Zealand,Wellington,15 Dec 2006,108
40,16.0,1,62,2,3.87,2,4,v New Zealand,Wellington,15 Dec 2006,96
41,7.0,0,31,1,4.42,2,1,v Bangladesh,Colombo (SSC),25 Jun 2007,42
42,17.0,2,80,4,4.70,2,3,v Bangladesh,Colombo (SSC),25 Jun 2007,102
43,9.0,1,25,4,2.77,2,1,v Bangladesh,Colombo (PSS),3 Jul 2007,54
44,15.0,1,86,0,5.73,2,3,v Bangladesh,Colombo (PSS),3 Jul 2007,90
45,10.0,2,41,1,4.10,1,1,v Bangladesh,Kandy,11 Jul 2007,60
46,10.0,0,46,2,4.60,1,3,v Bangladesh,Kandy,11 Jul 2007,60
47,35.0,6,156,1,4.45,1,1,v Australia,Hobart,16 Nov 2007,210
48,12.0,0,61,1,5.08,1,3,v Australia,Hobart,16 Nov 2007,72
49,20.0,2,86,1,4.30,2,2,v England,Kandy,1 Dec 2007,120
50,15.0,3,39,1,2.60,2,4,v England,Kandy,1 Dec 2007,90
51,24.0,3,78,3,3.25,2,1,v England,Colombo (SSC),9 Dec 2007,144
52,8.0,1,37,0,4.62,2,3,v England,Colombo (SSC),9 Dec 2007,48
53,9.0,2,26,1,2.88,2,2,v England,Galle,18 Dec 2007,54
54,20.0,3,42,0,2.10,3,3,v England,Galle,18 Dec 2007,120
55,13.0,0,55,2,4.23,1,2,v India,Galle,18 Jul 2010,78
56,17.0,2,50,5,2.94,1,3,v India,Galle,18 Jul 2010,102
57,30.0,3,119,3,3.96,1,2,v India,Colombo (PSS),3 Aug 2010,180
58,12.0,1,49,0,4.08,1,4,v India,Colombo (PSS),3 Aug 2010,72

In [26]:
o=input(str("Enter opposition: "))

opp="v "+o
md=0
ec=0
k=0
f=0
for i in range(0, len(df)):
    if(df["Opposition"][i]==opp):
        f=1
        md+=int(df["Mdns"][i])
        ec+=int(df["Econ"][i])
        k=k+1
        
if(f!=0):
    print(f"Average Maiden Overs against the opposition= {int(md/k)},\nAverage Economy= {int(ec/k)} ")
else:
    print(f"No Opposition named '{o}' found.")

Enter opposition:  lol

No Opposition named 'lol' found.

In [29]:
# Number of 4s and 6s filtered via ground
gnd=input(str("Enter name of Ground: "))

md=0
ec=0
k=0
f=0

for i in range(0, len(df)):
    if(df["Ground"][i]==gnd):
        f=1
        md+=int(df["Mdns"][i])
        ec+=int(df["Econ"][i])
        k=k+1

if(f!=0):
    print(f"Average Maiden Overs at the ground= {int(md/k)},\nAverage Economy= {int(ec/k)} ")
else:
    print(f"No Ground named '{gnd}' found.")

Enter name of Ground:  lokoklo

No Ground named 'lokoklo' found.

In [7]:
md=0
bb=0
ec=0
ru=0
wt=0
for i in range(0, len(df)):
    md+=int(df["Mdns"][i])
    ec+=int(df["Econ"][i])
    bb+=int(df["Bowls_Bowled"][i])
    ru+=int(df["Runs"][i])
    wt+=int(df["Wkts"][i])
    

print(f"Average Maiden Overs at the ground= {int(md/len(df))},\nAverage Economy= {int(ec/len(df))} ")
print(f"Total Balls Bowled= {int(bb)},\nAverage Runs = {int(ru/len(df))} ")
print(f"Total Wickets taken = {int(wt)},\nTotal Matches played= {int(len(df))} ")

Average Maiden Overs at the ground= 1,
Average Economy= 3
Total Balls Bowled= 5195,
Average Runs = 56
Total Wickets taken = 101,
Total Matches played= 59

## Expected type of match column
- Trying to guess from the bowls bowled: which match was it

In [30]:
df["ExType_match"]="-"
for i in range(0,len(df)):
    if(df["Inns"][i]>2 or df["Overs"][i]>10):
        #TEST
        df["ExType_match"][i]="Test"
    elif(df["Overs"][i]<=4):
        #T20
        df["ExType_match"][i]="T20"
    elif(df["Overs"][i]>4 and df["Overs"][i]<=10):
        #ODI
        df["ExType_match"][i]="ODI"

C:\Users\Naman\AppData\Local\Temp/ipykernel_12792/998595182.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["ExType_match"][i]="Test"
C:\Users\Naman\AppData\Local\Temp/ipykernel_12792/998595182.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["ExType_match"][i]="ODI"

In [31]:
df["ExType_match"]

0     Test
1     Test
2     Test
3     Test
4     Test
5     Test
6      ODI
7     Test
8     Test
9     Test
10    Test
11    Test
12    Test
13     ODI
14    Test
15     ODI
16    Test
17     ODI
18    Test
19    Test
20    Test
21    Test
22    Test
23    Test
24    Test
25    Test
26    Test
27     ODI
28    Test
29    Test
30    Test
31    Test
32    Test
33     ODI
34    Test
35    Test
36    Test
37    Test
38    Test
39    Test
40    Test
41     ODI
42    Test
43     ODI
44    Test
45     ODI
46    Test
47    Test
48    Test
49    Test
50    Test
51    Test
52    Test
53     ODI
54    Test
55    Test
56    Test
57    Test
58    Test
Name: ExType_match, dtype: object

## Preparing the list of players we have data for.

In [27]:
import os
names=os.listdir("data")

In [28]:
names

['ashwin.csv',
 'ashwin1.csv',
 'badree.csv',
 'devilliers.csv',
 'ganguly.csv',
 'gayle.csv',
 'kohli.csv',
 'kohli1.csv',
 'kumble.csv',
 'kumble1.csv',
 'kumblesp.csv',
 'malinga.csv',
 'malinga1.csv',
 'maxwell.csv',
 'mendis.csv',
 'mitchell.csv',
 'murali.csv',
 'narine.csv',
 'sehwag.csv',
 'sehwag1.csv',
 'sehwag2.csv',
 'southee.csv',
 'steyn.csv',
 'tendulkar.csv',
 'tendulkar1.csv',
 'tendulkar2.csv',
 'tendulkarsp.csv',
 'warne.csv']

In [29]:
name = {x.replace('.csv', '') for x in names}
name

{'ashwin',
 'ashwin1',
 'badree',
 'devilliers',
 'ganguly',
 'gayle',
 'kohli',
 'kohli1',
 'kumble',
 'kumble1',
 'kumblesp',
 'malinga',
 'malinga1',
 'maxwell',
 'mendis',
 'mitchell',
 'murali',
 'narine',
 'sehwag',
 'sehwag1',
 'sehwag2',
 'southee',
 'steyn',
 'tendulkar',
 'tendulkar1',
 'tendulkar2',
 'tendulkarsp',
 'warne'}

In [61]:
batsman={'devilliers',
 'ganguly',
 'gayle',
 'kohli',
 'kohli1',
 'maxwell', 
 'sehwag',
 'sehwag1',
 'sehwag2',
 'tendulkar',
 'tendulkar1',
 'tendulkar2',
 'tendulkarsp'}

bowlers={'ashwin',
 'ashwin1',
 'badree',
 'kumble',
         'mitchell',
 'kumble1',
 'kumblesp',
 'malinga',
 'malinga1','mendis','murali',
 'narine','southee',
 'steyn','warne'}

In [31]:
len(name)

28

In [32]:
len(batsman)+len(bowlers)

28

In [38]:
# To check if I not repeated any values
set(batsman).intersection(bowlers)

set()